.footer {
    width: 100%;
    background-color: $footer_color;

    .footer_con {
        @include container(0, 0);
        padding: 1rem 0;

        p {
            font-size: $h4_size;
            color: #939393;
            text-align: center;

            &:last-child {
                text-align: justify;
            }
        }
    }
}