#modal_password{
  // height: 346px;
  background-color: #F7F6F2;
    h3{
      width: 100%;    
      height: 55px;
      @include flexcenter;  
      background-color: #84A59D;
      color: #fff;
      border-radius: 8px;
    }
    .psw{
      display: flex;
      flex-direction: column;
      // margin: 15px auto;
      box-sizing: border-box;
      padding: 20px 50px;
      label{
        @include label;
        padding: 5px 0; 
      }
      input{
        @include text;
        width: auto;
        padding: 5px 0;
      }
    }
    .btn{
      text-align: center;
      button{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-weight: bolder;
        margin: 6px 20px;
      }
      button:hover{
        opacity: .8;
      }
      #clear{
        background-color: #bb9590;
      }
      #send{
        background-color:#84A59D;
      }
    }
}

@include t{
  #modal_password{
    height: 365px;
  }
}
@include d{
  #modal_password{
    height: 380px;
  }
}