@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  caret-color: transparent;
}

input, textarea {
  caret-color: #313131;
}

html {
  font-size: 12px;
}

body {
  font-family: "微軟正黑體";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: #2b2929;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

h3 {
  color: #2b2929;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

h4 {
  color: #2b2929;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  color: #2b2929;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.box {
  background-color: antiquewhite;
}

.content {
  max-width: 960px;
  min-width: 350px;
  width: 75%;
  margin: 0 auto;
  background-color: #F7F6F2;
}

.bigbtn {
  width: 10rem;
  padding: 1rem;
  color: #fff;
  background-color: #84A59D;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
}

.bigbtn:hover {
  background-color: #17C3B2;
}

.smallbtn_c {
  width: 6rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #BB9590;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  display: inline-block;
}

.smallbtn_c:hover {
  background-color: #17C3B2;
}

.smallbtn_m {
  width: 6rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #84A59D;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  display: inline-block;
  margin-left: 50px;
}

.smallbtn_m:hover {
  background-color: #17C3B2;
}

.box2 {
  max-width: 960px;
  min-width: 350px;
  width: 75%;
  margin: 0 auto;
  background-color: #F7F6F2;
  text-align: center;
}

.city {
  width: 10rem;
  padding: 0.5rem;
  color: #2b2929;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin: 20px auto;
}

.box3 {
  max-width: 960px;
  min-width: 350px;
  width: 75%;
  margin: 0 auto;
  background-color: #F7F6F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  color: #2b2929;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

#user_name {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ebe7e7;
  resize: none;
}

.price {
  width: 6rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ebe7e7;
  resize: none;
  margin: 10px 0;
  display: inline-block;
}

.card {
  width: 3.4rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ebe7e7;
  resize: none;
  margin: 10px 0;
  display: inline-block;
}

#con {
  width: 20rem;
  height: 18rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ebe7e7;
  resize: none;
  display: inline-block;
}

.people {
  width: 20rem;
  padding: 0.5rem;
  color: #2b2929;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.title {
  width: 20rem;
  padding: 1rem;
  color: #fff;
  background-color: #F6BD60;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media all and (min-width: 1025px) {
  html {
    font-size: 16px;
  }
}
/*# sourceMappingURL=text.css.map */