
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block;
}
audio, canvas, progress, video {
display: inline-block;
vertical-align: baseline;
}
audio:not([controls]) {
display: none;
height: 0;
}
[hidden], template {
display:none;
}
a {
background: transparent;
}
a:active, a:hover {
outline: 0;
}
abbr[title] {
border-bottom: 1px dotted;
}
dfn {
font-style: italic;
}

mark {
background: #ff0;
color: #000;
}
small {
font-size: 80%;
}
sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -.5em;
}
sub {
bottom: -.25em;
}
img {
border: 0;
}
svg:not(:root) {
overflow: hidden;
}
figure {
margin: 1em 40px;
}
hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}
code, kbd, pre, samp {
font-family: monospace, monospace;
font-size: 1em;
}

fieldset {
border: 1px solid silver;
margin: 0 2px;
padding: .35em .625em .75em;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
td, th {
padding: 0;
}
b, strong, optgroup {
font-weight: 700;
}
pre, textarea {
overflow: auto;
}
button::-moz-focus-inner, input::-moz-focus-inner, legend {
border:0;
padding:0;
}
/* clearfix */
.clearfix:after {
content: " ";
visibility: hidden;
display: block;
height: 0;
clear: both;
}
/* border box */
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
img {
max-width: 100%;
object-fit: cover;
}

.gallery {
width: 507px;
margin: 0 auto;
position: relative;
}
.pics {
width: 542px;
margin-top: 70px;
padding: 10px;
background: white;
border-radius: 2px;
box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.05);
}
.thumbs {
float: left;
width: 122px;
padding-right: 10px;
}
.preview {
width: 175px;
height: 110px;
overflow: hidden;
margin-bottom: 13px;
}
.preview:last-child {
margin-bottom: 0;
}
.full {
/* width: 783px; */
font-size: 12px;
float: left;
}
.full, .full img {
width: 757px;
height: 479px;
margin-left: 34px;
/* object-fit: cover; */
}
/* .previews a:hover, .previews a.selected {
} */
.full img:hover {
cursor: pointer;
}
.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}
/*====================================================================================
                              fancy box 
====================================================================================*/ 

div.fancybox-skin {
border-radius: 1px;
}
div.fancybox-title {
font-family: 'Lato', sans-serif;
}
a.fancybox-item.fancybox-close {
bottom: 9px;
right: 12px;
top: auto;
left: auto;
width: 25px;
height: 25px;
background-image: url(images/icon-close.svg);
-webkit-background-size: contain;
background-size: contain;
}
