<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>探索體驗</title>
  <link rel="shortcut icon" href="images/common/logo.png" />
  <script src="js/jquery.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="css/activity.css">
  <script src="js/jquery.min.js"></script>
  
  <script src="js/vue.min.js"></script>

</head>
<body>
  @@include('layout/header.html')
  <article id="app">     <!-- id -->
    <ul class="breadcrumb">
      <li><a href="./home.html">首頁</a></li>
      <li><a href="">探索體驗</a></li>
    </ul>
    <div class="filter">
      <div class="sel">
        <select name="" id="" v-model="input.city">
          <option value="" selected>全部地區</option>
          <option value="台北">台北</option>
          <option value="新北">新北</option>
          <option value="桃園">桃園</option>
        </select>
      </div>
      <div class="sel">
        <select name="" id="" v-model="input.farm">
          <option value="" selected>全部農場</option>
          <option value="山頂厝農場">山頂厝農場</option>
          <option value="奇果山果園">奇果山果園</option>
          <option value="漣果園">漣果園</option>
          <option value="秀花果農場">秀花果農場</option>
          <option value="桃富農場">桃富農場</option>
        </select>
      </div>
      <div class="sel">
        <input class="date" name="" type="date" v-model="input.date">
      </div>
    </div>
    <div class="main">
      <!-- <div class="post" v-for="item in result">     -->
      <!-- v-for要改成分割的函式 -->
      <div class="post" v-for="item in loadMore">  
        <div class="background">
          <a class="pic" :href="'activity_detail.html?activity_id=' + item.activity_id">
            <img id="activity_imgA" :src="'images/activity/' + item.activity_imgA" alt="">
          </a>
        </div>
        <div class="text">
          <div>
            <h2 id="activity_name">{{item.activity_name}}</h2>
          </div>
          <div class="position">
            <h3 id="city_name">{{item.city_name}}│&nbsp</h3>
            <h3 id="farm_name">{{item.farm_name}}</h3>
          </div>
          <div class="date">
            <p>活動日期：</p>
            <p id="activity_date">{{item.activity_date}}</p>
          </div>
            <p id="activity_content">
              {{item.activity_content}}
            </p>
          <a :href="'activity_detail.html?activity_id=' + item.activity_id">
            <button class="more">活動詳情</button>
          </a>
        </div>
        <!-- :href="'prodQuery_2.php?psn=' + prodRow.psn" -->
      </div>
    </div>
  </article>
  @@include('layout/footer.html')

  <script src="js/activity.min.js"></script>
</body>
</html>