<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>探索體驗分頁</title>
  <link rel="shortcut icon" href="images/common/logo.png" />
  <script src="js/jquery.min.js"></script>
  
  <link rel="stylesheet" href="code/activity3_slider.css">

  <script src="js/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="code/jquery.modal.css">

  <link rel="stylesheet" type="text/css" href="css/activity_detail.css">

  <link rel="stylesheet" href="css/augurio-carousel.css">

  <script src="js/vue.min.js"></script>
</head>
<style>
  
  header .header_con .logo {
    width: 17%;
  }
</style>
<body>
  @@include('layout/header.html')
  <article  id="app">
    <ul class="breadcrumb">
      <li><a href="./home.html">首頁</a></li>
      <li><a href="./activity.html">探索體驗</a></li>
      <li><a :href="'activity_detail.html?activity_id=' + dataObj.activity_id">{{dataObj.activity_name}}</a></li>
    </ul>
    
    
    <div class="slider">
        <div class="thumbs">
          <div class="preview"  @click="img = dataObj.activity_imgA">
            <div class="mask" style="display: none;"></div>
            <img id="activity_imgA" :src="'images/activity/' + dataObj.activity_imgA"> 
          </div>
          <div class="preview" @click="img = dataObj.activity_imgB">
            <div class="mask"></div>
            <img id="activity_imgA" :src="'images/activity/' + dataObj.activity_imgB"> 
          </div>
          <div class="preview" @click="img = dataObj.activity_imgC">
            <div class="mask"></div>
            <img id="activity_imgA" :src="'images/activity/' + dataObj.activity_imgC"> 
          </div>
          <div class="preview" @click="img = dataObj.activity_imgD">
            <div class="mask"> </div>
            <img id="activity_imgA" :src="'images/activity/' + dataObj.activity_imgD"> 
          </div>
        </div>
        <!-- first image is viewable to start -->
        <div class="full" title="">
          <img class="first" :src="'images/activity/' + img">
        </div>
    </div>

    <!-- 手機板輪播 -->
    <div class="container">
      <!-- carousel-->
      <div class="carousel-wrap" ref="carousel" data-auto="true" data-delay="3000" data-arrows="true" data-dots="true" @mouseenter.stop="toggleTimer = false" @mouseleave.stop="toggleTimer = true" @touchstart.stop="touchStart" @touchmove.stop="touchMove">

        <!-- carousel items-->
        <keep-alive>
          <transition :name="carouselName">
            <div class="item" v-for="(s, i) in carousels" v-if="show == i" :key="i">
              <img :src="'images/activity/' + s.img"/>
            </div>
          </transition>
        </keep-alive>

        <!-- button: prev, next-->
        <div class="arrows-group" v-if="arrows">
          <a class="button-prev" href="#" @click.prevent="toPrev">
            <img src="//akveo.github.io/eva-icons/outline/png/128/arrow-ios-back-outline.png"/>
          </a>
          <a class="button-next" href="#" @click.prevent="toNext">
            <img src="//akveo.github.io/eva-icons/outline/png/128/arrow-ios-forward-outline.png"/>
          </a>
        </div>
        <!-- dot -->
        <div class="dot-group" v-if="dots">
          <a v-for="(l, i) in len" href="#" :class="{ 'active': show == i }" @click.prevent="show = i">
          </a>
        </div>
      </div>
    </div>   

    <div class="main">
      <div class="left">
        <h2 id="activity_name">{{dataObj.activity_name}}</h2>
          <div class="position">
            <h3 id="city_name">{{dataObj.city_name}} │&nbsp</h3>
            <h3 id="farm_name">{{dataObj.farm_name}}</h3>
          </div>
        <div>
        <p id="activity_content">
           {{dataObj.activity_content}}
        </p>
      </div>
    </div>
    <div class="right">
      <div class="date">
        <p>活動日期：</p>
        <p id="activity_date">{{dataObj.activity_date}}</p>
      </div>
      <div class="now">
        <p>目前報名人數：</p>
        <p id="activity_people">{{dataObj.activity_people}}</p>
      </div>
      <div class="max">
        <p>報名上限人數：</p>
        <p id="activity_max">{{dataObj.activity_max}}</p>
      </div>
      <a href="#modal_order" rel="modal:open" id="checkMem"><button id="sign">立即報名</button></a>
    </div>

    
<form id="modal_order" class="modal order" action="phps/signUpActivity.php" method="post"  enctype="multipart/form-data">
  <h3>探索體驗訂單</h3>   
    <table> 
      <tr> 
        <td>行程名稱:</td> 
        <td>{{dataObj.activity_name}}</td>
      </tr> 
      <tr> 
        <td>活動日期:</th> 
        <td>{{dataObj.activity_date}}</td> 
      </tr> 
      <tr> 
        <td>會員姓名:</th> 
        <td id="myName"></td> 
      </tr>
      <tr> 
        <td>Email:</th> 
        <td id="myEmail"></td> 
      </tr> 
      <tr>
        <td>報名人數:</th> 
        <td>
          <select name="a_order_people">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </td>
      </tr>  
    </table>
    <div class="btn">
      <a href="#" rel="modal:close"><button id="cancel">取消</button></a>
      <button id="send" type="submit">報名</button>
    </div>
    <!-- 假的欄位 -->
    <input id="myId" name="mem_id" style="display: none;">
    <input :value="dataObj.activity_id" name="activity_id" style="display: none;">
    <input :value="dataObj.activity_people" name="activity_people" style="display: none;">
    <!-- 假的欄位 -->
</form>

  </article>
@@include('layout/footer.html')
@@include('layout/modal_login.html')

<script src="js/activity_detail.min.js"></script>


</body>
</html>