<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>[後台管理員]果農管理</title>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="./css/彈跳視窗範本.css">
    <link rel="stylesheet" type="text/css" href="css/admin_mem.css">
</head>

<body>
    <header>
        <a href="./admin_farmer.php">
            <div class="logo"><img src="./images/common/logo.svg" alt="logo"></div>
        </a>
        <ul id="nav">
        <li><a href="./admin_farmer.html">果農帳號管理</a></li>
        <li><a href="./admin_member.html">會員帳號管理</a></li>
        <li><a href="./admin_post.html">審核檢舉貼文</a></li>
        </ul>
    </header>


<script src="js/header_back.min.js"></script>
    <article>

        <section  id="farmTable">
            <div class="sign_out">
                <div class="sign_out_icon">
                     <img src="./images/common/controller-login.svg" alt="controller_icon">
                </div>
                <div class="sign_out_name">
                    <p>管理員</p>
                    
                    <a href="./index.html"><p id="con_login">登出</p></a>
                    </div>
            </div>
               
            <div class="item">
                <div class="box">
                    <label for=""></label>
                    <input type="text" v-model="search">  
                    <img src="images/post/search.svg" alt="search">
                </div>
            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                          <th scope="col">序號</th>
                          <th scope="col">農場名稱</th>
                          <th scope="col">負責人</th>
                          <th scope="col">農場資訊</th>
                          <th scope="col">電話</th>
                          <th scope="col">狀態</th>
                          <th scope="col">詳情</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr v-for="(farmRow,i) in filterF">
                          <td>{{i+1}}</td>
                          <td>{{farmRow.farm_name}}</td>
                          <td>{{farmRow.farm_gm}}</td>
                          <td>{{farmRow.farm_address}}</td>
                          <td>{{farmRow.farm_tel}}</td>
                          <td>{{getStatus(farmRow.farm_status)}}</td>
                          <td>
                            <a href="#popOrder" rel="modal:open" @click="filterData(farmRow.farm_name)">
                            <button id="sign" class="detail">詳情
                            </button>
                            </a>
                            <a href="#modal_password" rel="modal:open"><button class="penimg"><img src="images/svg/pencil.svg" alt="">
                            </button> 
                            </a>
                          </td>
                        </tr>
                    </tbody>
                </table>

            <div id="popOrder" class="modal order">
                <h4>農場詳情</h4>
                <table> 
                    <thead>
                        <tr>
                            <th>許可證書</th>
                            <th>城市</th>
                            <th>地址</th>
                            <th>緯度</th>
                            <th>經度</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr>
                            <td>{{farmDetails.farm_cert}}</td>
                            <td>{{farmDetails.city_name}}</td>
                            <td>{{farmDetails.farm_address}}</td>
                            <td>{{farmDetails.farm_lat}}</td>
                            <td>{{farmDetails.farm_lon}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                        
            <div id="modal_password" class="modal">
                <form>
                    <h3>修改果農資訊</h3>
                    <div class="psw" id="select">
                        <label for="">農場緯度</label>
                        <input type="text" name="farm_lat" v-model="updatelat">
                        <label for="">農場經度</label>
                        <input type="text" name="farm_lon" v-model="updatelon">
                        <label for="">狀態</label>
                         <select v-model="selected">
                            <option v-for="option in options" v-bind:value="option.value" >{{option.text}}</option>
                        </select>
                    </div>
                    <div class="btn">
                        <button id="clear" type="reset">清除</button>
                        <button id="send" type="submit" @click="filterid(farmDetails.farm_cert)">送出</button>
                    </div>
                </form>                      
                </div>
            </div>  

        </section>
        <div class="footer">
            <div class="footer_con">
                <p>Copyright © 2021 農果子</p>
                <p>本網站為緯育TibaMe_前端設計工程師班第69期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]https://www.facebook.com/webindex/ ，後續會由專人協助處理。</p>
            </div>
        </div>
    </article>
<script src="js/admin_farm.min.js"></script>

</body>

</html>
