<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>果樹認養資訊</title>
    <link rel="shortcut icon" href="images/common/logo.png"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="css/back_tree_growing_data.css">
</head>

<body>
    @@include('layout/header_back_f.html')
    <article id="tree_data">
        <section>
            @@include('layout/farm_icon.html')
            <div class="content_new">
                <div class="content_new_status" id="tree_status">
                    <p>目前認養狀態: 未認養:<span id="noadopt"></span>筆 / 已認養:<span id="adopt"></span>筆 / 已下架<span
                            id="down"></span>筆 </p>
                </div>
                <form class="content_new_text" action="./phps/insertTree_list.php" method="post"
                    enctype="multipart/form-data">
                    <!-- 取值用: status_all(判斷是否已達6棵果樹)-->
                    <input id="status_all" type="hidden" name="status_all" value="0">
                    <p style="width: 100%;text-align: end;"><span style="color: red;">*</span>代表"必填"</p>
                    <div class="item">
                        <label>果樹名稱<span style="color: red;">*</span></label>
                        <input class="item_text" name="tree_name" type="text" required autocomplete="off">
                    </div>
                    <div class="item">
                        <label>水果種類<span style="color: red;">*</span></label>
                        <select name="fruit_id" class="item_text" required>
                            <option value="" disabled selected>請選擇</option>
                            <option value="1">橘子</option>
                            <option value="2">蘋果</option>
                            <option value="3">芒果</option>
                            <option value="4">水蜜桃</option>
                            <option value="5">紅棗</option>
                        </select>
                    </div>
                    <div class="item">
                        <label>大小<span style="color: red;">*</span></label>
                        <select name="size" class="item_text" required>
                            <option value="" disabled selected>請選擇</option>
                            <option value="大">大</option>
                            <option value="中">中</option>
                            <option value="小">小</option>
                        </select>
                    </div>
                    <div class="item">
                        <label>數量<span style="color: red;">*</span></label>
                        <input class="item_text" name="amount" type="number" required>
                    </div>
                    <div class="item">
                        <label>可認養開始日</label>
                        <input value="" class="item_text" id="tree_start" name="tree_start" type="text" disabled>

                    </div>
                    <div class="item">
                        <label>可認養結束日<span style="color: red;">*</span></label>
                        <input class="item_text" name="tree_end" type="date" required>
                    </div>
                    <div class="item">
                        <label>新增照片(1)<span style="color: red;">*</span></label>
                        <input class="item_text" name="treehistory_img" type="file" style="border:none" required>

                    </div>
                    <div class="item">
                        <label>新增照片(2)<span style="color: red;">*</span></label>
                        <input class="item_text" name="treehistory_img2" type="file" style="border:none" required>
                    </div>
                    <div class="item">
                        <label>果樹價格($/年)<span style="color: red;">*</span></label>
                        <input class="item_text" name="tree_price" type="number" required>
                    </div>
                    <div class="btnbox">
                        <input class="smallbtn_s" id="clear" type="reset" value="清除">
                        <input class="smallbtn_m" type="submit" value="新增">
                    </div>
                </form>
            </div>

            <!-- 取值用: click_treeId、click_number -->
            <p id="click_treeId" style="display: none;"></p>
            <p id="click_number" style="display: none;"></p>

            <form class="content" v-for="tree in treeList" action="./phps/updateTree_data.php" method="post"
                enctype="multipart/form-data">
                <div class="con_title">
                    <div class="minus_sign">
                        <img src="./images/common/minus-sign.svg" alt="往下">
                        <div class="turn">
                            <img src="./images/common/minus-sign.svg" alt="往下">
                        </div>
                    </div>
                    <h3>果樹編號: {{tree.tree_id}}</h3>
                    <div class="status">{{tree.tree_status}}</div>
                </div>
                <div :id="'con_text_'+tree.tree_id" class="con_text">
                    <p style="width: 100%;text-align: end;"><span style="color: red;">*</span>代表"必填"</p>

                    <!-- 取值用: treeid -->
                    <div class="item" style="display: none;">
                        <label>果樹編號</label>
                        <input class="item_text treeid" name="tree_id" type="text" :value="tree.tree_id">
                    </div>

                    <div class="item">
                        <label>果樹名稱</label>
                        <input class="item_text" type="text" :value="tree.tree_name" disabled>
                    </div>
                    <div class="item">
                        <label>水果種類</label>
                        <input class="item_text" type="text" :value="tree.fruit_name" disabled></label>
                    </div>
                    <div class="item">
                        <label>大小<span style="color: red;">*</span></label>
                        <select class="size_select" name="size">
                            <option class="size" :value="tree.size">{{tree.size}}</option>
                            <option class="size_b" value="大">大</option>
                            <option class="size_m" value="中">中</option>
                            <option class="size_s" value="小">小</option>
                            <option class="size_n" value="無">無</option>
                        </select>
                    </div>
                    <div class="item">
                        <label>數量<span style="color: red;">*</span></label>
                        <input class="item_text amount" name="amount" type="number" :value="tree.amount">
                    </div>
                    <div class="item">
                        <label>可認養開始日</label>
                        <input class="item_text tree_start" name="tree_start" type="date" :value="tree.tree_start" disabled>
                    </div>
                    <div class="item">
                        <label>可認養結束日<span style="color: red;">*</span></label>
                        <input class="item_text tree_end" name="tree_end" type="date" :value="tree.tree_end">
                    </div>
                    <div class="item">
                        <label>新增照片(1)</label>
                        <input class="item_text" name="treehistory_img" type="file" style="border:none">

                    </div>
                    <div class="item">
                        <label>新增照片(2)</label>
                        <input class="item_text" name="treehistory_img2" type="file" style="border:none">
                    </div>
                    <div class="item">
                        <label>果樹價格($/年)<span style="color: red;">*</span></label>
                        <input class="item_text tree_price" name="tree_price" type="number" :value="tree.tree_price">
                    </div>
                    <div class="photo">
                        <a href="#moreimg" rel="modal:open"><input class="bigbtn_s treehistory_img" type="button"
                                value="查看歷史照片"></a>
                    </div>
                    <div class="update">
                        <p>{{tree.tree_update}}</p>
                    </div>

                    <!-- 取值用: status2 -->
                    <div class="item" style="display: none;">
                        <label>下架狀態</label>
                        <input class="item_text status2" name="tree_status" type="text" :value="tree.tree_status">
                    </div>

                    <div class="btnbox">
                        <input class="smallbtn_s up" type="submit" value="上架">
                        <input class="smallbtn_s down" type="submit" value="下架">
                        <input class="smallbtn_m recover" type="button" value="恢復">
                        <input class="smallbtn_m" type="submit" value="確認更新">
                    </div>
                </div>
            </form>
        </section>
        @@include('layout/footer_back.html')
    </article>

    <!-- 彈跳查看更多照片 -->
    <div id="moreimg" class="modal moreimg">
        <div class="con">
            <h3>認養果樹歷史照片</h3>

            <!-- 取值用: tree_id -->
            <p id="tree_id" style="display: none;"></p>

            <div class="imgbox">
                <table>
                    <tr>
                        <th>上傳時間</th>
                        <th>照片</th>
                    </tr>
                    <tr v-for="img in treeId_img">
                        <td>
                            <p>{{img.treehistory_date}}</p>
                        </td>
                        <td>
                            <img :src="'./images/tree/' + img.treehistory_img" alt="照片">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="js/back_tree_growing_data_vue.min.js"></script>

</body>

</html>