<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找農果子</title>
    <link rel="stylesheet" href="css/contact.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="code/jquery.modal.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script> 
    <script src="js/vue.min.js"></script>

</head>

<body>
    @@include('layout/header.html')

    <div class="content">
        <div class="box">
            <div class="breadcrumb">
                <ol>
                    <li><a href="./home.html">首頁</a></li>
                    <li><a href="./contact.html">找農果子</a></li>

                </ol>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <div class="shadow"></div>
            </div>

            <div class="text">
                <h3>找農果子</h3>
                <p>如果您在我們的網站上尋找資訊時遇到問題或有任何意見，請使用以下表格與我們聯絡。我們會仔細閱讀所有回應，但請了解我們無法回覆您提出的意見。</p>
                <h4>
                    <ul>
                        <li>農果子客戶服務專線：+886-1-234-5678</li>
                        <li>服務時間：周一至周五 09:00~17:00</li>
                        <li>客服信箱：NongGuoZi@gmail.com</li>
                        <li>地址：桃園市中壢區復興路55688號</li>
                    </ul>
                </h4>
            </div>

        </div>
        <div class="box" id="contactus">
            <form >
                <div class="form">
                    <div class="col">
                        <label for="name">姓名</label>
                        <input type="text" id="name"  v-model="name">
                    </div>

                    <div class="col">
                        <label for="qa">問題類型</label>
                        <select id="qa"  v-model="selected">
                            <option value="" disabled selected>請選擇意見和反應類型</option>
                            <option value="訂單問題">訂單問題</option>
                            <option value="系統操作問題">系統操作問題</option>
                            <option value="意見與回饋">意見與回饋</option>
                            <option value="舉報不實貼文">舉報不實貼文</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="email">信箱</label>
                        <input type="email" id="email" v-model="email">
                    </div>
                    <div class="col">
                        <label for="message">內容</label>
                        <textarea id="message" v-model="content"></textarea>
                    </div>
                </form>
                    <div class="btnbox">
                        <button type="reset" class="btn">清除</button>
                        <a href="#popOrder" rel="modal:open" @click="checkform"><button class="sub" >送出</button></a> 

                    </div>
                    <div id="popOrder" class="modal dialog">
                    <h3 v-text="msg"></h3>
                    </div>
        </div>
            
                
        </div>

   
    @@include('layout/footer.html')


      <script src="js/contact.min.js"></script>
</body>

</html>