<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>來農場吧</title>
    <script src="js/jquery.min.js"></script>
    <!-- 引入jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="font/jquery.modal.css">
    <title>農場資訊頁</title>
    <!-- 引入owl -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="js/vue.min.js"></script>  

</head>
<body>
    <script src="js/jquery.mousewheel.min.js"></script>
<header>
    <div class="header_con">
        <a href="./home.html" class="logo"><img src="images/common/logo.svg" alt="logo"></a>
        <ul id="nav">
            <li class="navbtn"><a href="./adopt_tree.html">一同養樹</a></li>
            <li class="navbtn"><a href="./farmsearch.html">來農場吧</a></li>
            <li class="navbtn"><a href="./activity.html">探索體驗</a></li>
            <li class="navbtn"><a href="./post.html">果粉之談</a></li>
            <li class="navbtn"><a href="./contact.html">找農果子</a></li>
        </ul>
        <ol id="mem_icon">
            <li><a href="./farmregister.html"><img src="images/common/farmer-2.svg" alt="farmer"></a>
                <h4>小農</h4>
            </li>
            <li><a href="./memlogin.html"><img src="images/common/login.svg" alt="member"></a>
                <h4 id="mem_state">會員</h4>
            </li>
        </ol>
        <div class="hamberger">
            <div class="line" id="line_1"></div>
            <div class="line" id="line_2"></div>
            <div class="line" id="line_3"></div>
        </div>
    </div>
</header>
<script src="js/header.min.js"></script>
    <div class="wrap">
      <div class="box">
        <div class="breadcrumb">
          <ol>
              <li><a href="./home.html">首頁</a></li>
              <li><a href="./farmsearch.html">來農場吧</a></li>

          </ol>
      </div>
      </div>
            <div class="box">
              <div class="item">
               
                <select>
                    <option selected disabled>選擇水果</option>
                    <option>橘子</option>
                    <option>蘋果</option>
                    <option>水蜜桃</option>
                    <option>芒果</option>
                    <option>紅棗</option>
                </select>
                <select>
                  <option selected disabled>選擇地區</option>
                    <option>台北</option>
                    <option>新北</option>
                    <option>桃園</option>

                </select>
              </div>

            </div>

    </div>
    <div class="mapbox" id="farm">
      <div  class="mapitem">
      </div>
      <div class="mapitem">
       <map-list :mapimg="farmRow"></map-list></div>

    <!-- <div class="owl-carousel owl-theme" >
        <div class="item" v-for="farm in farmRow" style="background-image: url('./images/farm/${farm.farm_imgA}');">
        
        <div class="item" v-for="farm in farmRow" style="background-image: url('./images/farm/${farm.farm_imgB}');"></div>
    </div> -->

 </div>
    <div class="footer">
    <div class="footer_con">
        <p>Copyright © 2021 農果子</p>
        <p>本網站為緯育TibaMe_前端設計工程師班第69期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]https://www.facebook.com/webindex/ ，後續會由專人協助處理。</p>
    </div>
</div>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv2stNGlktQxxtTVKeDxvMrizohjEK1uI" async defer></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script> -->

    <!-- <script>
      const googleMap = new Vue({
        el: '#app',
        data: {
          map: null,
          hideBusiness: 'hide',// 隱藏商周：hide隱藏
          hideStyle: [{
            featureType: 'poi.business',
            elementType: "all",
            stylers: [{
              visibility: 'off'
            }]
          }],
          features: [], // 存入每一個地點
          infowindowAll: {} // 存入每一個marker上的info windows
        },
        methods: {
          
          initMap() {
            
            // 預設顯示的地點：山頂厝
            let location = {
              lat: 24.946224700000002, // 經度
              lng: 121.4520012 // 緯度
            };
            
            this.map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 11,
              mapTypeId: 'roadmap',
              mapTypeControl: false,
              streetViewControl: false,
              fullscreenControl: false,
              

            });

            
            fetch('./json/map.geojson')
              .then(results => results.json())
              .then(result => {
                this.features = result.features;
                Array.prototype.forEach.call(this.features, r => {
                  let latLng = new google.maps.LatLng(r.geometry.coordinates[0], r.geometry.coordinates[1]);
                  let marker = new google.maps.Marker({
                    position: latLng,
                    map: this.map,
                    animation: google.maps.Animation.DROP
                    
                  });

                  // info window
                  let infowindow = new google.maps.InfoWindow({
                    
                    content: `<div class="col">
                        <div class="img" style="background-image: url('${r.properties.image}');"></div>
                        <div class="info">
                            <h3>${r.properties.name}</h3>
                            <p>地址：<br>${r.properties.site}</p>
                            <div class="btn">
                            <button onclick="window.location.href='${r.properties.location}'">農場詳情</button></div>
                        </div>
                    </div>` 
                  });
                   //點擊第二個視窗，第一個會關閉
                    marker.addListener('click', e => {
                    if (this.infowindow) this.infowindow.close();
                    infowindow.open(this.map, marker);
                    this.infowindow = infowindow;
                
                  });

                });

            });

          },
          

        },
        created() {
          window.addEventListener('load', () => {
            this.initMap();
          });
        }
      });
    </script> -->

    <link rel="stylesheet" href="css/farmsearch.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/farmsearch.min.js"></script>

</body>
</html>