<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <!-- 引入jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="code/jquery.modal.css">
    <title>農場資訊頁</title>
    <!-- 引入owl -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="js/vue.min.js"></script>  
</head>
<body>
    @@include('layout/header.html')
    <div class="page" id="app">
        <div class="farminfo-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="./home.html">首頁</a></li>
                    <li><a href="./farmsearch.html">來農場吧</a></li>
                    <li><a :href="'farminfon.html?farm_id=' + infoObj.farm_id">{{infoObj.farm_name}}</a></li>
                </ol>
            </div>
        </div>
        <section>
            <article class="banner">
                <img :src="'images/farm/' + infoObj.farm_banner">
                <div class="bagr"></div>
            </article>
            <article class="describe">
                <div class="container">
                    <div class="info">
                        <div class="pic">
                            <img :src="'images/farm/' + infoObj.farm_imgA">
                        </div>
                        <div class="txt">
                            <h2>{{infoObj.farm_name}}</h2>
                            <p>農場地址：{{infoObj.farm_address}}<br>連絡電話：{{infoObj.farm_tel}}<br>電子信箱：{{infoObj.farm_email}}</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="pic">
                            <img :src="'images/farm/' + infoObj.farm_imgB">
                        </div>
                        <div class="txt">
                            <h2>農場故事</h2>
                            <p>{{infoObj.farm_contentA}}</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="pic">
                            <img :src="'images/farm/' + infoObj.farm_imgC">
                        </div>
                        <div class="txt">
                            <h2>農場環境</h2>
                            <p>{{infoObj.farm_contentB}}</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="adopt">
                <div class="container">
                    <div class="title">
                        <h2>果樹認養</h2>
                        <p>參與認養與農友站在同一陣線，共享種植的艱辛與喜悅，也分攤農友一部分的經濟壓力，給守護土地的農友一點鼓勵，讓我們一同選擇喜愛的果樹來認養吧</p>
                    </div>
                    <div class="fruit">
                        <div class="card" v-for="fruit in fruits">
                            <div class="pic">
                                <a href="./tree_growing.html"><img :src="'images/tree/' + fruit.treehistory_img"></a>
                            </div>
                            <div class="txt">
                                <h3 class="status">{{getStatus(fruit.tree_status)}}</h3>
                                <p>{{fruit.tree_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="activity">
                <div class="container">
                    <div class="title">
                        <h2>探索體驗活動</h2>
                        <p>結合土地與探索的農場，是親子旅行的好選擇，透過一系列的戶外體驗活動，瞭解果樹的生長狀態，讓大人小孩都能更貼近的認識農作物和土地</p>
                    </div>
                    <div class="content">
                        <activity-item :activitylist="activitys">
                            <!-- <div class="owl-carousel owl-theme">
                                <div class="item" v-for="activity in activitys">
                                    <div class="pic">
                                        <img :src="'images/activity/' + activity.activity_imgA">
                                    </div>
                                    <div class="txt">
                                        <div class="word">
                                            <h2>{{activity.activity_name}}</h2>
                                            <h3>{{activity.city_name}} ┃&nbsp{{activity.farm_name}}</h3>
                                            <p>活動日期:{{activity.activity_date}}</p>
                                            <p>{{activity.activity_content}}</p>
                                            <a href="activity_detail.html"><button>我要報名</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </activity-item>
                    </div>
                    <div class="arrow">
                        <div class="left" @click.prevent="toPrev">
                            <img id="arrow-l" onmouseover="setNewImageL()" onmouseout="setOldImageL()" src="images/svg/left-btn-g.svg">
                        </div>
                        <div class="right" @click.prevent="toNext">
                            <img id="arrow-r" onmouseover="setNewImageR()" onmouseout="setOldImageR()" src="images/svg/right-btn-g.svg">
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="container">
                    <div class="title">
                        <h2>貼文故事牆</h2>
                    </div>
                </div>
                <post-item :postlist="prodRows">
                    <!-- <div class="owl-carousel owl-theme">
                        <div class="item" v-for="prodRow in prodRows">
                            <div class="pic">
                                <img :src="'images/post/' + prodRow.post_img">
                            </div>
                            <div class="mempic">
                                <img :src="'images/mem/' + prodRow.mem_img">
                            </div>
                            <div class="txt">
                                <p>{{prodRow.post_content}}</p>
                                <div class="tag">
                                    <a :href="'farminfon.html?farm_id=' + prodRow.farm_id">#{{prodRow.farm_name}}</a>
                                </div>
                                <div class="icon">
                                    <a href="#modal_login" rel="modal:open"><button id="modal_btn_1" class="btn_heart"></button></a>
                                    <span>{{prodRow.post_feedback}}</span>
                                    <a href="#modal_login" rel="modal:open"><button id="modal_btn_1" class="btn_loudly"></button></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </post-item>
            </article>
        </section>
    </div>
    @@include('layout/footer.html')
    <link rel="stylesheet" href="css/farminfon.css">
    <script src="js/farminfon.min.js"></script>
</body>
</html>