<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小農註冊</title>
    <link rel="shortcut icon" href="images/common/logo.png"/>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="code/jquery.modal.css">
    <link rel="stylesheet" href="css/farmregister.css">
</head>
<body>
    <script src="js/jquery.mousewheel.min.js"></script>
<header>
    <div class="header_con">
        <a href="./home.html" class="logo"><img src="images/common/logo.svg" alt="logo"></a>
        <ul id="nav">
            <li class="navbtn"><a href="./adopt_tree.html">一同養樹</a></li>
            <li class="navbtn"><a href="./farmsearch.html">來農場吧</a></li>
            <li class="navbtn"><a href="./activity.html">探索體驗</a></li>
            <li class="navbtn"><a href="./post.html">果粉之談</a></li>
            <li class="navbtn"><a href="./contact.html">找農果子</a></li>
        </ul>
        <ol id="mem_icon">
            <li><a href="./farmregister.html"><img src="images/common/farmer-2.svg" alt="farmer"></a>
                <h4>小農</h4>
            </li>
            <li><a href="./memlogin.html"><img src="images/common/login.svg" alt="member"></a>
                <h4 id="mem_state">會員</h4>
            </li>
        </ol>
        <div class="hamberger">
            <div class="line" id="line_1"></div>
            <div class="line" id="line_2"></div>
            <div class="line" id="line_3"></div>
        </div>
    </div>
</header>
<script src="js/header.min.js"></script>
    <div class="wrap">
        <div class="box">
            <div class="logo"></div>
        </div>
        <div class="box">
            <h3>小農註冊</h3>
        </div>
        <div class="box" id="farmR">
            <form  action="javascript:void(0)">
                <div class="item">
                    <label for="farm_name">農場名稱</label>
                    <input type="text" v-model="fname" name="farm_name" id="farm_name">
                </div>
                <div class="item">
                    <label for="person">負責人</label>
                    <input type="text" v-model="fgm"  name="farm_gm" id="person">
                </div>
                <div class="item">
                    <label for="select">城市</label>
                    <select v-model="selected" id="select">
                        <option value="" selected disabled>請選擇</option>
                        <option v-for="city in cityRows" :value="city.city_id">{{city.city_name}}</option>
                    </select>
                </div>
                <div class="item">
                    <label for="addr">農場地址</label>
                    <input type="text" v-model="faddress" name="farm_address" id="addr">
                </div>
                <div class="item">
                    <label for="cert">許可證號</label>
                    <input type="text" v-model="fcert" name="farm_cert" id="cert">
                </div>
                <div class="item">
                    <label for="phone">農場電話</label>
                    <input type="text" v-model="fphone" name="farm_tel" id="phone">
                </div>
                <div class="item">
                    <label for="mail">電子信箱</label>
                    <input type="text" v-model="fmail" name="farm_email" id="mail">
                </div>
                <div class="item">
                    <label for="psw">密碼</label>
                    <input type="password" v-model="psw" name="farm_psw" id="psw">
                </div>
                <div class="item">
                    <label for="psw2">確認密碼</label>
                    <input type="password" v-model="psw2" name="farm_psw2" id="psw2">
                </div>
                <div class="item">
                    <input type="checkbox"  v-model="checked" id="check" >
                    <label for="check">點擊註冊代表您同意 之 <a href="./policy.html">會員條款</a> 與<a href="./privacy.html">客戶隱私權條款</a></label>
                  
                </div>
           
                <div class="btnbox">
                    <button type="reset"class="btn">清除</button>
                    <a href="#sendmail" rel="modal:open" @click="addfarmer"><button  class="btn">送出</button></a>
                  </form>  
                    <div id="sendmail" class="modal dialog">
                        <div class="text"><h3 v-text="msg"></h3></div>
                      </div>
                </div>
            
            
            
            <div id="popOrder" class="modal dialog">
                <div class="text"><h3>歡迎加入農果子</h3></div> 
                <div class="text">
                    <p>欲申請加入小農行列，請確實填寫基本資料，審核通過後即可成為會員。</p>
                </div>    
                </div>       
        </div>
    </div>

    <!-- <script>
        $('a[href="#sendmail"]').click(function(event) {
            event.stopPropagation();
            $(this).modal({ fadeDuration: 300});
            })
    </script>
    <script>
         $(window).ready(() => {
            $('#popOrder').modal({fadeDuration: 300})
        })
      </script> -->
      <script src="js/farmregister.min.js"></script>


</body>
</html>