<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <!-- 引入jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="code/jquery.modal.css">
    <link rel="stylesheet" href="css/post.css">
    <script src="js/vue.min.js"></script>
    <title>果粉之談</title>
    <link rel="shortcut icon" href="images/common/logo.png"/>
</head>
<body>
    @@include('layout/header.html')
    <div id="app" class="page">
        <div class="post-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="./home.html">首頁</a></li>
                    <li><a href="./post.html">果粉之談</a></li>
                </ol>
            </div>
        </div>
        <section>
            <article class="post">
                <div class="container">
                    <div class="memname">
                        <div class="pic">
                            <img :src="fullImageUrl">
                        </div>
                        <div class="title">
                            <h3>{{member.mem_name}}</h3>
                            <h2>發佈你的貼文</h2>
                        </div>
                    </div>
                    <div class="youpost">
                        <h3>你的貼文</h3>
                        <form class="txt" action="javascript:void(0)">
                            <textarea id="wpost" placeholder="寫下說明文字及tag農場⋯" v-model="posttxt" name="post_content"></textarea>
                            <div class="fileupload">
                                <div class="fileimg">
                                    <img :src="images" id="image" name="post_img">
                                </div>
                                <div class="btn">
                                    <div class="filebtn">
                                        <input type="file" id="inputf" @change="imgchange" style="display:none">
                                        <label for="inputf">
                                            <img src="images/post/camera.svg">
                                        </label>
                                    </div>
                                    <select class="tag" id="farmtag" v-model="selectedFarm" name="farm_id">
                                        <option value="" selected disabled>tag農場</option>
                                        <option :value= "farm.farm_id" v-for="farm in farms">{{farm.farm_name}}</option>
                                    </select>
                                    <a href="#sendpost" rel="modal:open" class="box_submit"><input type="submit" value="發佈" class="active" @click="post"></a>
                                </div>
                            </div>
                        </form>
                        <div id="sendpost" class="modal sdpost">
                            <div class="send">
                                <h3>{{msg}}</h3>
                                <a href="post.html"  v-if="isLogout">
                                    <button class="clear">取消</button>
                                </a>
                                <a href="memlogin.html"  v-if="isLogout">
                                    <button class="login">登入</button>
                                </a>
                            </div>
                        </div>
                        <form id="loudlytxt" class="modal sdloudly">
                            <div class="sendLoudly">
                                <h3>請填寫檢舉內容</h3>
                                <textarea id="loudlytext" placeholder="寫下說明文字⋯" ></textarea>
                                <input type="submit" value="發送">
                            </div>
                        </form>
                    </div>
                </div>
            </article>
            <article class="filter">
                <div class="container">
                    <form class="item">
                        <label for="" class="search"></label>
                        <input class="search_item" type="text" v-model="filterFarm" placeholder="搜尋貼文">
                        <img src="images/post/search.svg">
                    </form>
                    <select class="selectfont" v-model="selectNew" name="selectNew">
                        <option :value="option.value" v-for="option in options">{{option.text}}</option>
                    </select>
                </div>
            </article>
            <article class="mempost">
                <div class="container">
                    <div class="card" v-for="prodRow in pageRows">
                        <div class="txt">
                            <div class="memname">
                                <div class="pic">
                                    <img :src="'images/mem/' + prodRow.mem_img">
                                </div>
                                <div class="name">
                                    <h3>{{prodRow.mem_name}}</h3>
                                    <span>{{prodRow.post_date}}</span>
                                </div>
                            </div>
                            <div class="title">
                                <p>{{prodRow.post_content}}</p>
                            </div>
                        </div>
                        <div class="pic">
                            <div class="tag">
                                <a :href="'farminfon.html?farm_id=' + prodRow.farm_id">#{{prodRow.farm_name}}</a> 
                            </div>
                            <div class="photo">
                                <img :src="'images/post/' + prodRow.post_img">
                            </div>
                            <div class="icon">
                                <a href="#sendpost" rel="modal:open" class="box_heart">
                                    <button class="btn_heart"></button>
                                </a>
                                <span>{{prodRow.post_feedback}}</span>
                                <a href="#sendpost" rel="modal:open" class="box_loudy">
                                    <button class="btn_loudly"></button>
                                </a>
                            </div>
                        </div>
                    </div>
               </div>
            </article>
            <article class="more">
                <div class="container">
                    <p>load more...</p>
                </div>
            </article>
        </section>
    </div>
    @@include('layout/footer.html')
    <script src="js/post.min.js"></script>
</body>
</html>