<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <!-- 引入jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="font/jquery.modal.css">
    <link rel="stylesheet" href="css/post.css">
    <script src="js/vue.min.js"></script>
    <title>果粉之談</title>
</head>
<body>
    @@include('layout/header.html')
    <div id="app" class="page">
        <div class="post-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="./home.html">首頁</a></li>
                    <li><a href="./post.html">果粉之談</a></li>
                </ol>
            </div>
        </div>
        <section>
            <article class="post">
                <div class="container">
                    <div class="memname">
                        <div class="pic">
                            <img src="images/mem/mugshot.png">
                        </div>
                        <div class="title">
                            <h3>Bernice</h3>
                            <h2>發佈你的貼文</h2>
                        </div>
                    </div>
                    <div class="youpost">
                        <h3>你的貼文</h3>
                        <form class="txt" action="javascript:void(0)">
                            <textarea id="wpost" placeholder="寫下說明文字及tag農場⋯" v-model="posttxt"></textarea>
                            <div class="fileupload">
                                <div class="fileimg">
                                    <img :src="images" id="image" name="image">
                                </div>
                                <div class="btn">
                                    <div class="filebtn">
                                        <input type="file" id="inputf" @change="imgchange" style="display:none">
                                        <label for="inputf">
                                            <img src="images/post/camera.svg">
                                        </label>
                                    </div>
                                    <select class="tag" id="farmtag" v-model="selectedFarm">
                                        <option value="" selected disabled>tag農場</option>
                                        <option :value= "farm.farm_id" v-for="farm in farms">{{farm.farm_name}}</option>
                                    </select>
                                    <a href="#modal_login" rel="modal:open"><input type="submit" value="發佈" id="modal_btn_1" class="active" @click="postdata"></a>
                                    
                                    <!-- @@include('layout/modal_login.html') -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
            <article class="filter">
                <div class="container">
                    <form class="item">
                        <label for="" class="search"></label>
                        <input class="search_item" type="text" v-model="filterFarm">
                        <img src="images/post/search.svg">
                    </form>
                    <select class="selectfont">
                        <option value="最新的">最新的</option>
                        <option value="熱門的">熱門的</option>
                    </select>
                    <!-- <div>{{filterRow}}</div> -->
                </div>
            </article>
            <article class="mempost">
                <div class="container">
                    <div class="card" v-for="prodRow in filterRow">
                        <div class="txt">
                            <div class="memname">
                                <div class="pic">
                                    <img :src="'images/mem/' + prodRow.mem_img">
                                </div>
                                <div class="name">
                                    <h3>{{prodRow.mem_name}}</h3>
                                    <span>{{prodRow.post_date}}</span>
                                </div>
                            </div>
                            <div class="title">
                                <p>{{prodRow.post_content}}</p>
                            </div>
                        </div>
                        <div class="pic">
                            <div class="tag">
                                <a href="./farminfon.html">#{{prodRow.farm_name}}</a> 
                            </div>
                            <div class="photo">
                                <img :src="'images/post/' + prodRow.post_img">
                            </div>
                            <div class="icon">
                                <a href="#modal_login" rel="modal:open"><button id="modal_btn_1" class="btn_heart"></button></a>
                                <span>{{prodRow.post_feedback}}</span>
                                <a href="#modal_login" rel="modal:open"><button id="modal_btn_1" class="btn_loudly"></button></a>
                            </div>
                        </div>
                    </div>
               </div>
            </article>
            <article class="more">
                <div class="container">
                    <p>load more...</p>
                </div>
            </article>
            <div id="modal_login" class="modal">
                <h3>請登入會員</h3>
                <div class="btn">
                    <a href="#" rel="modal:close"><button id="cancel">取消</button></a>
                    <a href="memlogin.html"><button id="logIn">登入</button></a>
                </div>
            </div>
        </section>
    </div>
    @@include('layout/footer.html')
    <script src="js/post.min.js"></script>
</body>
</html>