<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>果樹生長狀況</title>
    <link rel="shortcut icon" href="images/common/logo.png"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="css/tree_growing.css">
</head>

<body>
    <div id="go_game">
        <a href="./game.html">
            <img src="./images/svg/game_icon.svg" alt="玩遊戲">
        </a>
    </div>
    @@include('layout/header.html')
    <article>
        <ul class="breadcrumb">
            <li><a href="./home.html">首頁</a></li>
            <li><a href="./adopt_tree.html">一同養樹</a></li>
            <li><a href="#">果樹生長狀況</a></li>
        </ul>
        <section id="tree_all">
            <div id="status_text"></div>
            <div class="fruit_tree_box">
                <canvas class="orange" width="2000" height="2000"></canvas>
                <div class="tree_fruit_box" id="fruit_tree">
                    <div v-for="tree in tree">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <img class="tree_fruit" src="images/fruit/fruit_1.svg" alt="果實">
                        <div style="display: none;">
                            <p id="number">{{tree.amount}}</p>
                            <p id="size">{{tree.size}}</p>
                            <p id="fruit_id">{{tree.fruit_id}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="content_top" id="tree_img">
                    <div v-for="img in imgs_limit1">
                        <p class="update">照片更新日期: {{img.treehistory_date}}</p>
                    </div>
                    <div class="con_imgbox">
                        <div class="img" v-for="img in imgs_limit2"> <img :src="'./images/tree/' + img.treehistory_img"
                                alt="真實果樹照片"></div>
                    </div>
                    <a href="#moreimg" rel="modal:open"><input class="smallbtn_s" type="button" value="查看更多"></a>
                </div>
                <div class="content_bottom" id="tree_data">
                    <div class="con" v-for="tree in tree">
                        <p class="update">資料更新日期: {{tree.tree_update}}</p>
                        <div class="con_text">
                            <h2 class="con_text_title">{{tree.tree_name}}</h2>
                            <div class="id">
                                <span id="farm_name">{{tree.farm_name}}</span>
                                <span>果樹編號: {{tree.tree_id}}</span>
                            </div>
                            <div class="data">
                                <div class="data_text">
                                    <h3>尺寸</h3>
                                    <h2>{{tree.size}}</h2>
                                </div>
                                <div class="data_text">
                                    <h3>數量</h3>
                                    <h2>{{tree.amount}}</h2>
                                </div>
                            </div>
                            <h3 class="price">認養價格: {{tree.tree_price}}$/年</h3>
                            <p id="status" style="display: none;">{{tree.tree_status}}</p>
                        </div>
                        <div class="con_btnbox">
                            <a href="./adopt_tree.html"><input class="bigbtn_s" type="button" value="查看更多果樹"></a>
                            <a id="buy" href="#popOrder" rel="modal:open"><input class="bigbtn_m" type="button"
                                    value="我要認養"></a>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section id="map">
            <div class="map" id="farm_map">
                <div class="black_bg">
                    <div class="cursor"></div>
                </div>
                <div class="map_img">
                    <img src="./images/map/map_1.svg" alt="農園地圖">
                    <div class="map_tree_box">
                        <div class="map_tree" v-for="tree in farmId_limit6">
                            <a :href="'tree_growing.html?tree_id=' + tree.tree_id">
                                <img src="./images/svg/game_tree.svg" alt="樹冠">
                            </a>
                            <div class="tree_name">
                                <span>{{tree.tree_name}}</span>
                            </div>
                            <div class="tree_status" style="display: none;">
                                <span>{{tree.tree_status}}</span>
                            </div>
                            <div class="none"></div>
                        </div>
                    </div>
                </div>
                <div class="map_text" v-for="farm in farm">
                    <h2>{{farm.farm_name}}</h2>
                    <p>歡迎來到{{farm.farm_name}}，請點選你想認養之果樹~</p>
                </div>
            </div>
            <div class="more_tree" id="more_farm">
                <h3>查看其它農場果樹</h3>
                <div class="more_btnbox">
                    <div v-for="farm in farms">
                        <a :href="'tree_growing.html?tree_id=' + farm.tree_id + '#map'"><input class="bigbtn_s"
                                type="button" :value="farm.farm_name"></a>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- 彈跳查看更多照片 -->
    <div id="moreimg" class="modal moreimg">
        <div class="con">
            <h3>認養果樹歷史照片</h3>
            <div class="imgbox">
                <table>
                    <tr>
                        <th>上傳時間</th>
                        <th>照片</th>
                    </tr>
                    <tr v-for="img in moreId_img">
                        <td>
                            <p>{{img.treehistory_date}}</p>
                        </td>
                        <td>
                            <img :src="'./images/tree/' + img.treehistory_img" alt="照片">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 彈跳登入會員視窗 -->
    @@include('layout/modal_login.html')

    <!-- 彈跳訂單視窗 -->
    <div id="popOrder" class="modal order">
        <h3>認養果樹確認訂單</h3>
        <form action="./phps/insertTree_order.php" method="post" enctype="multipart/form-data">
            <table v-for="order in popId_order">
                <tr>
                    <td>果樹名稱:</td>
                    <td><input type="hidden" name="tree_name" :value="order.tree_name">{{order.tree_name}}</td>
                </tr>
                <tr>
                    <td>農場名稱:</td>
                    <td><input type="hidden" name="farm_name" :value="order.farm_name">{{order.farm_name}}</td>
                </tr>
                <tr>
                    <td>果樹編號:</td>
                    <td><input type="hidden" name="tree_id" :value="order.tree_id">{{order.tree_id}}</td>
                </tr>
            </table>
            <table v-for="mem in memId">
                <tr>
                    <td>會員姓名</td>
                    <td><input type="hidden" :value="mem.mem_name">{{mem.mem_name}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="hidden" :value="mem.mem_email">{{mem.mem_email}}</td>
                </tr>
                <tr>
                    <td>會員編號</td>
                    <td><input type="hidden" name="mem_id" :value="mem.mem_id">{{mem.mem_id}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>折扣券:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select name="discount" id="discount" v-model="t_price">
                            <option value="">選擇折扣券</option>
                            <option :value="mem.coupon_id + '-' + mem.coupon_t_price" v-for="mem in memId_status">
                                {{mem.coupon_id}}-折扣{{mem.coupon_t_price}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="coupon_id" :value="coupon_id">
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>認養價格:</td>
                    <td><input type="hidden" name="price" :value="price">{{price}}$ /年</td>
                </tr>
            </table>

            <table>
                <tr>
                    <td colspan="2">信用卡卡號:</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="card" type="hidden" name="card" value="">
                        <input class="item_text card" type="text" id="card1" maxlength="4">
                        -
                        <input class="item_text card" type="text" id="card2" maxlength="4">
                        -
                        <input class="item_text card" type="text" id="card3" maxlength="4">
                        -
                        <input class="item_text card" type="text" id="card4" maxlength="4">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        信用卡有效月/年:
                        <select class="date" name="month">
                            <option :value=month v-for="month in 12">{{month}}月</option>
                        </select>
                        <select class="date" name="year">
                            <option :value=year.value v-for="year in years">{{year.label}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        信用卡安全碼(三碼):
                        <input class="item_text" id="code" type="text" name="code" maxlength="3">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="btn">
                            <a href="#" rel="modal:close"><button id="cancel">取消</button></a>
                            <a id="order_send" href="" rel="modal:open">
                                <button id="send">送出</button>
                            </a>
                            <input type="submit" id="sendOrder" style="display: none;">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- 信用卡錯誤 -->
    <div id="error" class="modal">
        <h3>信用卡卡號錯誤</h3>
        <a href="#" rel="modal:close"><button id="cancel">關閉</button></a>
    </div>

    @@include('layout/footer.html')

    <script src="js/tree_growing_vue.min.js"></script>

</body>

</html>