<script src="js/jquery.mousewheel.min.js"></script>
<header>
    <div class="header_con">
        <a href="./home.html" class="logo"><img src="images/common/logo.svg" alt="logo"></a>
        <ul id="nav">
            <li class="navbtn"><a href="./adopt_tree.html">一同養樹</a></li>
            <li class="navbtn"><a href="./farmsearch.html">來農場吧</a></li>
            <li class="navbtn"><a href="./activity.html">探索體驗</a></li>
            <li class="navbtn"><a href="./post.html">果粉之談</a></li>
            <li class="navbtn"><a href="./contact.html">找農果子</a></li>
        </ul>
        <ol id="mem_icon">
            <li><a href="./farmregister.html"><img src="images/common/farmer-2.svg" alt="farmer"></a>
                <h4>小農</h4>
            </li>
            <li><a href="./memlogin.html"><img src="images/common/login.svg" alt="member"></a>
                <h4 id="mem_state">會員</h4>
                <p id="mem_name" style="display: none;"></p>
                <p id="mem_id" style="display: none;"></p>
            </li>
        </ol>
        <div class="hamberger">
            <div class="line" id="line_1"></div>
            <div class="line" id="line_2"></div>
            <div class="line" id="line_3"></div>
        </div>
    </div>
</header>
<script src="js/header.min.js"></script>