<div class="header">
    <a href="./back_farminfo.html">
        <div class="logo">
            <img src="./images/common/logo.svg" alt="logo">
        </div>
    </a>

<ul id="nav">
    <li><a href="./back_farminfo.html">農場資訊管理</a></li>
    <li><a href="./back_tree_growing_data.html">果樹認養資訊</a></li>
    <li><a href="./back_tree_growing_menu.html">果樹認養訂單</a></li>
    <li><a href="./back_activity_info.html">體驗活動資訊</a></li>
    <li><a href="./back_activity_order.html">體驗活動訂單</a></li>
</ul>
<div class="web_up">
    <input class="bigbtn_m" type="button" value="網站上架">
</div>
</div>
<script src="js/header_back.min.js"></script>