<div id="modal_password" class="modal">
  <h3>修改會員密碼</h3>
  <div class="psw">
    <label for="">舊密碼</label>
    <input type="password">
    <label for="">新密碼</label>
    <input type="password">
    <label for="">確認密碼</label>
    <input type="password">
  </div>
  <div class="btn">
    <button id="clear">清除</button>
    <button id="send">送出</button>
  </div>
</div>

<script>

  $('a[href="#modal_password"]').click(function(event) {
    event.stopPropagation();
    $(this).modal({
      fadeDuration: 300
    });
  });
  

  $(document).ready(function(){
    $("#clear").click(function(){
      $("input").val("");
    });
  });
  </script>