<div id="modal_password" class="modal">
  <h3>變更會員密碼</h3>
  <form class="psw" action="./phps/modal_password.php" method="post"
  enctype="multipart/form-data">
    <label for="">舊密碼</label>
    <div class="box">
      <input type="password" name="old_psw" class="psw">
      <i class="bi bi-eye-slash toggle_eye"></i>
    </div>
    
    <label for="">新密碼</label>
    <div class="box">
      <input type="password" name="new_psw" class="psw">
      <i class="bi bi-eye-slash toggle_eye"></i>
    </div>

    <label for="">確認密碼</label>
    <div class="box">
      <input type="password" name="check_psw" class="psw">
      <i class="bi bi-eye-slash toggle_eye"></i>
    </div>

    <!-- mem_id隱藏欄位 -->
    <input id="catch" type="hidden" name="mem_id" :value="mem_id">
  
    <div class="btn">
      <button id="clear" type="reset">清除</button>
      <button id="send">送出</button>
    </div>
  </form>
</div>

<script>
 
  </script>