<div id="modal_password" class="modal">
  <h3>修改會員密碼</h3>
  <form class="psw" action="./phps/modal_password.php" method="post"
  enctype="multipart/form-data">
    <label for="">舊密碼</label>
    <input type="text" name="old_psw" >
    
    <label for="">新密碼</label>
    <input type="text" name="new_psw">

    <label for="">確認密碼</label>
    <input type="text" name="check_psw">

    <!-- mem_id隱藏欄位 -->
    <input id="catch" type="hidden" name="mem_id">
  
    <div class="btn">
      <button id="clear" type="reset">清除</button>
      <button id="send">送出</button>
    </div>
  </form>
</div>

<script>
 
  </script>