// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';


// .header .header_con #nav li {
//   font-size: 19.2px;
// }

article{
  @include container(10rem);
  p{
    font-size: 16px;
  }
  ul.breadcrumb{
    padding: 10px 0;
    list-style: none;
  }
  ul.breadcrumb li{
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
  }
}



.filter{
  @include flexcenter;
  justify-content: center;
  // width: 711px;
    select{
      @include select();
      margin:30px 0 0 0;
        option{
          @include flexcenter;
        }
  }
}

.main{
  // margin-top: -25px;
    .post{
      display: flex;
      flex-direction: column;
      margin: 35px 0 55px;
        &:nth-child(4n+0){
          padding-bottom: 28px;
        }
    }
}

.background{
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #BAC7B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .pic{
      width: 88%;
      transition: .8s;
      &:hover{
        transform-origin:0;
        transform:scale(1.13,1.13);
        transition: .8s;
      }
        img{
          width: 100%;
          height: 100%;
        }
    }
}

.text{
  // width: 42%;
  box-sizing: border-box;
  padding: 30px 0;
  position: relative;
    .position{
      display: flex;
    }
    .date{
      display: flex;
      padding: 10px 0;
    }
    .more{
      @include smallbtn_m;
      position: absolute;
      right: 0;
      margin-top: 5px;      
      // font-size: 16px;
      // font-family : inherit;
    }
}

@include d{
  .filter{
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .main{
    .post{
      flex-direction: row;
        .background{
          width: 70%;
        }
        .text{
          width: 30%;
          box-sizing: border-box;
          padding-top: 37px;
          padding-left: 20px;
        }
    }
  }
}


