// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';



// body{
//   background-image: url("../images/svg/background.svg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }
article{
  @include container(7rem);
  p{
    font-size: 16px;
  }
  ul.breadcrumb{
    list-style: none;
    li{
      display: inline;
      a {
        text-decoration: none;
        color: #727070;
      }
    }
  }
  ul.breadcrumb li+li:before {
    padding: 1rem;
    content: "/\00a0";
  }
}

.breadcrumb a:hover{
  color: #f6bd60;
}

.breadcrumb :last-child{
  a{
  color: #f6bd60;
  }
}


.filter{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 35px;
    .sel{
      padding: 8px 0;
      >*{
        @include select();
        width: 7rem;
        // margin: 1rem 0 0 0;
          option{
            @include flexcenter;
          }
      }
      .date{
        width: 139px;
        height: 25px;
      }
    }
}

.main{
  // margin-top: -25px;
    .post{
      display: flex;
      flex-direction: column;
      margin: 35px 0 55px;
        &:nth-child(4n+0){
          padding-bottom: 28px;
        }
    }
}
.post:nth-child(1){
  margin: 20px 0 55px;
}

.background{
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #BAC7B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .pic{
      width: 88%;
      transition: .8s;
      &:hover{
        transform-origin:0;
        transform:scale(1.13,1.13);
        transition: .8s;
      }
        img{
          width: 100%;
          height: 100%;
        }
    }
}

.text{
  // width: 42%;
  box-sizing: border-box;
  // padding: 30px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
    .position{
      display: flex;
    }
    .date{
      display: flex;
      padding: 10px 0;
    }
    .more{
      @include smallbtn_m;
      position: absolute;
      right: 0;
      margin-top: 5px;      
      // font-size: 16px;
    }
}

@include t{
  .filter{
    display: flex;
    justify-content: space-between;
    padding: 0;
    .sel{
      padding: 0;
      .date{
        width: 156px;
      }
    }
  }
}

@include d{
  .filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sel{
      padding: 0;
      >*{
        @include select();
      }
      select, input{
        margin-left: .5rem;
      }
      .date{
        width: 168px;
      }
    }
  }
  .main{
    .post{
      flex-direction: row;
        .background{
          width: 70%;
        }
        .text{
          width: 30%;
          box-sizing: border-box;
          padding-top: 37px;
          padding-left: 20px;
        }
    }
  }
  .post:nth-child(1){
    margin:35px 0 55px;
  }
}


