// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/foooter';



body{
  background-color: $bg_color;
  p{
    font-size: 16px;
  }
  @include container();
  ul.breadcrumb{
    padding: 10px 0;
    list-style: none;
  }
  ul.breadcrumb li{
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
  }
}

@include d{
  .filter{
    width: 711px;
  }
}

.filter{
  @include flexcenter;
  justify-content: space-between;
  // width: 711px;
    select{
      @include select();
      margin:30px 0 0 0;
        option{
          @include flexcenter;
        }
  }
}

.main{
  margin-top: -25px;
    .post{
      display: flex;
      margin: 60px 0;
        &:nth-child(4n+0){
          padding-bottom: 28px;
        }
    }
}

.text{
  width: 300px;
  box-sizing: border-box;
  padding: 36px 20px;
  position: relative;
    // p{
    //   font-size: 14px;
    // }
    .position{
      display: flex;
    }
    .date{
      display: flex;
      padding: 10px 0;
    }
    .more{
      @include smallbtn_m;
      position: absolute;
      right: 0;
      // font-family : inherit;
    }
}

.background{
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #BAC7B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .pic{
      width: 88%;
      transition: .8s;
      &:hover{
        transform-origin:0;
        transform:scale(1.13,1.13);
        transition: .8s;
      }
        img{
          width: 100%;
          height: 100%;
        }
    }

}


@include t{
  // .filter{
    // width: 100%;
    // border: 1px solid green;
  // }
};

@include m{
  .filter{
    width: 100%;
    margin-bottom: 55px;
  }
  .main{
    .post{
      display: block;
      margin: 0;
      // border: 1px solid red;
        .text{
          width: 100%;
          margin: 0;
          padding: 20px 20px 80px;
        }
    }
  }    
};

