// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';



body{
  background-color: $bg_color;
  @include container();
  ul.breadcrumb{
    padding: 10px 0;
    list-style: none;
  }
  ul.breadcrumb li{
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
  }
}

.slider{
  margin: 30px 0;
  width: 100%;
  height: 523px;
}




.main{
  width: 100%;
  display: flex;
  margin: 30px 0;
  // border: 1px solid blue;
  .left{
    width: 80%;
      .position{
        display: flex;
        padding: 10px 0;
      }
      #activity_content{
        box-sizing: border-box;
        padding-right: 30px;
        font-size: 14px;
      }
  }
  .right{
    width: 20%;
    font-size: 14px;
    // border: 1px solid red;
    font-weight: bold;
    box-sizing: border-box;
    padding: 90px 0 0 57px;
      >div {
        display: flex;
        padding-bottom: 6px;
      }
      
      .sign{
        @include bigbtn_m;
      }
  }
}

@media (max-width: 1024px){
  .slider{
    display: none;
  }
  .main{
    display: block;
    margin: 60px 0;
      .left{
        width: 100%;
      }
  }
}
// @include t{
//   .slider{
//     display: none;
//   }
// }
// @include m{
//   .slider{
//     display: none;
//   }
// }


