// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

// 彈跳視窗
@import 'layout/modal_login';

// body{
//   background-image: url("../images/svg/background.svg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }
  article{
    @include container();
    ul.breadcrumb{
      list-style: none;
      li{
        display: inline;
        a {
          text-decoration: none;
          color: #727070;
        }
      }
    }
    ul.breadcrumb li+li:before {
      padding: 1rem;
      content: "/\00a0";
    }
  }
  
  .breadcrumb a:hover{
    color: #f6bd60;
  }
  
  .breadcrumb :last-child{
    a{
    color: #f6bd60;
    }
  }

  
  .slider{
    margin: 35px 0 15px;
    width: 100%;
    height: 500px;
  }


  .main{
    width: 100%;
    display: flex;
    // margin: 30px 0;
    .left{
      width: 78%;
        .position{
          display: flex;
          padding: 10px 0;
        }
        #activity_content{
          box-sizing: border-box;
          padding-right: 30px;
        }
    }
    .right{
      width: 22%;
      font-weight: bold;
      box-sizing: border-box;
      padding: 90px 0 0 57px;
        >div {
          display: flex;
          padding-bottom: 6px;
        }
        
        #sign{
          @include bigbtn_m;
          margin-top: 15px;
          width: 9rem;
          padding: 8px 0;
            // a{
            //   text-decoration: none;    
            //   color: #fff;
            // }
        }
    }
  }

//彈跳訂單視窗
  #modal_order{
    // height: 340px;
    background-color: #F7F6F2;
      h3{
        width: 100%;    
        height: 55px;
        background-color: #84A59D;
        color: #fff;
        border-radius: 8px;
        @include flexcenter;
      }
      table{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        @include flexcenter;
        text-align: left;
        margin: 17px 0;
        color: #3d3b3b;
        td{
          padding: 5px 13px;
            select{
              width: 50px;
              height: 25px;
            }
        }
      }
      .btn{
        text-align: center;
        button{
          width: 100px;
          height: 35px;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          color: #fff;
          font-weight: bolder;
          margin: 6px 20px;
        }
        button:hover{
          opacity: .8;
        }
        #cancel{
          background-color: #BB9590;
        }
        #send{
          background-color:#84A59D;
        }
      }
  }

  .preview{
    position: relative;
  }
  .mask{
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }

.container{
  display: none;
}
@media (max-width: 1025px){
  .container{
    display: block;
  }
  .slider{
    display: none;
  }
  .slider2{
    margin-top: 35px;
  }
  .main{
    display: block;
    margin: 60px 0;
      .left{
        width: 100%;
      }
      .right{
        width: 100%;
        padding: 25px 0;
        @include flexcenter;
        flex-direction: column;
          .date{
            padding-left: 8px;
          }
          a{
            width: 100%;
              #sign{
                width: 100%;
              }
          }
      }
  }
}
