// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';



// body{
//   background-image: url("../images/svg/background.svg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }
article{
  @include container();
  // p{
  //   font-size: 16px;
  // }
  ul.breadcrumb{
    list-style: none;
    li{
      display: inline;
      a {
        text-decoration: none;
        color: #727070;
      }
    }
  }
  ul.breadcrumb li+li:before {
    padding: 1rem;
    content: "/\00a0";
  }
}

.breadcrumb a:hover{
  color: #f6bd60;
}

.breadcrumb :last-child{
  a{
  color: #f6bd60;
  }
}


.filter{
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // margin-top: 35px;
  margin: 2.3rem 0 2rem 0;;
    .sel{
      padding: 0 2.5rem 0 0;
      >*{
        @include select();
        width: 7rem;
          option{
            @include flexcenter;
          }
      }
      .date{
        width: 121px;
        height: 25px;
      }
    }
}

.main{
  // margin-top: -25px;
    .post{
      display: flex;
      flex-direction: column;
      margin: 35px 0 80px;
      &:nth-child(n+4){
        animation: fadeIn 1.5s;
        transition: all 1.5s;
      }
      @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
    }
}
.post:nth-child(1){
  margin: 20px 0 55px;
}
.post:last-child{
  margin: 35px 0;
}

.background{
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #BAC7B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .pic{
      width: 88%;
      transition: .8s;
      &:hover{
        transform-origin:0;
        transform:scale(1.13,1.13);
        transition: .8s;
      }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

.text{
  // width: 42%;
  box-sizing: border-box;
  // padding: 30px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
    .position{
      display: flex;
    }
    .date{
      display: flex;
      padding: 10px 0;
    }
    .more{
      @include smallbtn_m;
      position: absolute;
      right: 0;
      margin-top: 1rem;
      // margin-top: 5px; 
    }

    //截斷字
    #activity_content{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; //要留的行數
      -webkit-box-orient: vertical;
    }
}

@include t{
  .filter{
    display: flex;
    // justify-content: space-between;
    padding: 0;
    .sel{
      // padding: 0;
      .date{
        width: 156px;
      }
    }
  }
}

@include d{
  .filter{
    width: 52%;
    display: flex;
    // justify-content: space-between;
    .sel{
      padding: 0 3rem 0 0;
      >*{
        @include select();
      }
      .date{
        width: 168px;
      }
    }
  }
  .main{
    .post{
      height: 27rem;
      flex-direction: row;
      margin-bottom: 130px;
        .background{
          width: 70%;
        }
        .text{
          width: 30%;
          box-sizing: border-box;
          padding-top: 3rem;
          padding-left: 20px;
          #activity_content{
            -webkit-line-clamp: 5;
          }
        }
    }
  }
  .post:nth-child(1){
    margin:35px 0 130px;
  }

  .pic{
    height: 25rem;
  }
}

