// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

  article{
    p{
      font-size: 16px;
    }
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 21px;
    }
    @include container(10rem);
    ul.breadcrumb{
      padding: 10px 0;
      list-style: none;
    }
    ul.breadcrumb li{
      display: inline;
      font-size: 16px;
    }
    ul.breadcrumb li+li:before {
      padding: 8px;
      content: "/\00a0";
    }
    ul.breadcrumb li a {
      text-decoration: none;
    }
  }

  .slider{
    margin: 30px 0;
    width: 100%;
    height: 500px;
  }

  .main{
    width: 100%;
    display: flex;
    // margin: 30px 0;
    .left{
      width: 78%;
        .position{
          display: flex;
          padding: 10px 0;
        }
        #activity_content{
          box-sizing: border-box;
          padding-right: 30px;
        }
    }
    .right{
      width: 22%;
      font-weight: bold;
      box-sizing: border-box;
      padding: 90px 0 0 57px;
        >div {
          display: flex;
          padding-bottom: 6px;
        }
        
        .sign{
          @include bigbtn_m;
          margin-top: 15px;
        }
    }
  }

@media (max-width: 1025px){
  .slider{
    display: none;
  }
  .main{
    display: block;
    margin: 60px 0;
      .left{
        width: 100%;
      }
      .right{
        width: 100%;
        padding: 25px 0;
        @include flexcenter;
        flex-direction: column;
          .date{
            padding-left: 8px;
          }
          .sign {
            width: 200px;  //RWD後按鈕增長?
          }  
      }
  }
}
// @include t{
//   .slider{
//     display: none;
//   }
// }
// @include m{
//   .slider{
//     display: none;
//   }
// }


