// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

// 彈跳視窗
@import 'layout/modal_login';


  article{
    p{
      font-size: 16px;
    }
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 21px;
    }
    @include container(10rem);
    ul.breadcrumb{
      padding: 10px 0;
      list-style: none;
    }
    ul.breadcrumb li{
      display: inline;
      font-size: 16px;
    }
    ul.breadcrumb li+li:before {
      padding: 8px;
      content: "/\00a0";
    }
    ul.breadcrumb li a {
      text-decoration: none;
    }
  }

  .slider{
    margin: 30px 0;
    width: 100%;
    height: 500px;
  }

  .main{
    width: 100%;
    display: flex;
    // margin: 30px 0;
    .left{
      width: 78%;
        .position{
          display: flex;
          padding: 10px 0;
        }
        #activity_content{
          box-sizing: border-box;
          padding-right: 30px;
        }
    }
    .right{
      width: 22%;
      font-weight: bold;
      box-sizing: border-box;
      padding: 90px 0 0 57px;
        >div {
          display: flex;
          padding-bottom: 6px;
        }
        
        #sign{
          @include bigbtn_m;
          margin-top: 15px;
          width: 9rem;
          padding: 8px 0;
            // a{
            //   text-decoration: none;    
            //   color: #fff;
            // }
        }
    }
  }

//彈跳訂單視窗
  .order{
    width: 390px;
    height: 340px;
    // font-weight: bold;
    background-color: #F7F6F2;
      h3{
        width: 100%;    
        height: 55px;
        background-color: #84A59D;
        color: #fff;
        border-radius: 8px;
        @include flexcenter;
      }
      table{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        @include flexcenter;
        text-align: left;
        margin: 17px 0;
        color: #3d3b3b;
        td{
          padding: 5px 15px;
            select{
              width: 50px;
              height: 25px;
            }
        }
      }
      .btn{
        text-align: center;
        button{
          width: 100px;
          height: 35px;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          color: #fff;
          font-weight: bolder;
          margin: 6px 20px;
        }
        button:hover{
          opacity: .8;
        }
        #cancel{
          background-color: #BB9590;
        }
        #send{
          background-color:#84A59D;
        }
      }
  }



@media (max-width: 1025px){
  .slider{
    display: none;
  }
  .main{
    display: block;
    margin: 60px 0;
      .left{
        width: 100%;
      }
      .right{
        width: 100%;
        padding: 25px 0;
        @include flexcenter;
        flex-direction: column;
          .date{
            padding-left: 8px;
          }
          a{
            width: 100%;
              #sign{
                width: 100%;
              }
          }
      }
  }
}

