// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

// body {
//     background-color: $bg_color;
// }

a{
    text-decoration: none;
}

.back_img{
    width: 100%;
    position: fixed;
    top:0;
    z-index: -1;
}

article {
    @include container(7rem);
    ul.breadcrumb{
        list-style: none;
        li{
          display: inline;
          a {
            text-decoration: none;
            color: #727070;
          }
        }
      }
      ul.breadcrumb li+li:before {
        padding: 1rem;
        content: "/\00a0";
      }
}
.breadcrumb a:hover{
    color: #f6bd60;
  }
  
  .breadcrumb :last-child{
    a{
    color: #f6bd60;
    }
  }
  

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 1rem 0 0.5rem;
}

.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.sel_fruit {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sel_city {
    display: flex;
    align-items: center;
}

label {
    @include label;
    margin-bottom: 0px;
}

select {
    @include select();
    margin-left: 1rem;

}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 2px solid $main_color;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;

    .con_img {
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        .black_bg {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;

            input {
                @include bigbtn_m;
                @include positioncenter();
                background-color: $focus_color;
                border-color: $focus_color;
            }
        }
    }

    .con_textbox {
        width: 90%;
        text-align: center;
        @include margincenter(1rem);

        .con_text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 0.5rem;

            .con_text_img {
                width: 30%;

                img {
                    width: 100%;
                }
            }
        }

    }

}

.load{
    text-align: center;
}



@include t{
    .select {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .sel_fruit {
        margin-bottom: 0;
    }

    .content {
        width: 48%;
    }
}

@include d {
    .search {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .select {
        width: auto;
        justify-content:flex-start;
        margin-bottom:0;
    }

    .sel_city {
        margin-left: 2rem;
    }

    .content {
        width: 31%;

        &:hover .con_img .black_bg {
            display: block;
        }

        .con_img {
            height: 15rem;
        }

        .con_textbox {
            width: 90%;
            text-align: center;
            @include margincenter(1rem);
        }

    }

    .load{
        text-align: center;
    }
}