// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

// body {
//     background-color: $bg_color;
// }

a {
    text-decoration: none;
}

article {
    @include container();
    ul.breadcrumb{
        list-style: none;

        li {
            display: inline;

            a {
                text-decoration: none;
                color: #727070;
            }
        }
    }

    ul.breadcrumb li+li:before {
        padding: 1rem;
        content: "/\00a0";
    }
}

.breadcrumb a:hover {
    color: #f6bd60;
}

.breadcrumb :last-child {
    a {
        color: #f6bd60;
    }
}


.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 35px 0 0.5rem;
}

.select {
    width: 100%;
    display: flex;
    // margin-bottom: 2rem;
}

select {
    @include select();
}

#city {
    margin-left: 3rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 2px solid $main_color;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;

    .con_img {
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        .black_bg {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;

            input {
                @include bigbtn_m;
                @include positioncenter();
                background-color: $focus_color;
                border-color: $focus_color;
            }
        }
    }

    .con_textbox {
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
        @include margincenter();
         .con_text_img {
            width: 30%;

            img {
                width: 100%;
            }
        }

        .con_text {
     
            width: 65%;
        }
    }
}

.load {
    text-align: center;
}



@include t {
    .sel_fruit {
        margin-bottom: 0;
    }

    .content {
        width: 48%;
    }
}

@include d {
    .search {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .select {
        width: auto;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .sel_city {
        margin-left: 2rem;
    }

    .content {
        width: 31%;

        &:hover .con_img .black_bg {
            display: block;
        }
    }

    .load {
        text-align: center;
    }
}