// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

//layout
@import 'layout/header_back';
@import 'layout/footer_back';

@include d {
    
    body{
        background-image: url("../images/svg/background.svg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .item {
        margin: 0.5rem;
    }

    label {
        @include label;
        display: flex;
        flex-direction: column;
    }

    .item_text {
        @include text();
    }

    select {
        @include select(20rem);
    }

    .btnbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 18px 38px;
        h3{
            line-height: 2.5;
        }
    }

    .smallbtn_m {
        @include smallbtn_m
    }

    .smallbtn_s {
        @include smallbtn_s
    }

    .bigbtn_m {
        @include bigbtn_m
    }

    .bigbtn_s {
        @include bigbtn_s
    }

    .content_new {
        width: 100%;
        margin-bottom: 2rem;

        .content_new_status {
            text-align: right;
            margin-bottom: 1rem;
            p{
                text-align: end;
            }
        }

        .content_new_text {
            background-color: #F7EDE2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border-radius: 15px;
            padding: 1rem;
            box-sizing: border-box;

        }

    }

    .content {
        width: 100%;
        border-radius: 15px;
        background-color: #F7EDE2;
        overflow: hidden;
        margin-bottom: 15px;
        cursor: pointer;
        .con_title {
            background-color: $main_color;
            text-align: center;
            padding: 0.5rem 0;
            position: relative;
            .minus_sign{
                width: 3%;
                position: relative;
                img{
                    width: 100%;
                    vertical-align:top;
                }
                .turn{
                    width: 100%;
                    transform: rotate(-90deg);
                    position: absolute;
                    top:0;
                    transition: all .5s;
                    img{
                        width: 100%;
                        vertical-align:top;
                    }
                }
                .turn_zero{
                    transform: rotate(0deg);
                }
            }

            .status {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 6%;
            }

            #none {
                color: red;
                font-weight: 700;
            }
        }
        .con_text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 1rem;
            box-sizing: border-box;

            .photo {
                width: 20rem;
                margin: 0.5rem;
                text-align: end;
            }

            .update {
                width: 20rem;
                margin: 0.5rem;
                align-self: flex-end;

                h3 {
                    line-height: 1;
                }
            }
        }
    }
    
}

.item{
  img{
    width: 300px;
  }
}