// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

//layout
@import 'layout/header_back';
@import 'layout/footer_back';

@include d{
.content{
    width: 100%;
    border-radius: 15px;
    background-color: #F7EDE2;
    overflow: hidden;
    margin-bottom: 2rem;

    .con_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main_color;
        padding: 0.5rem 1rem;
        .minus_sign{
            width: 5%;
            position: relative;
            cursor: pointer;
            img{
                width: 100%;
                vertical-align:top;
            }
            .turn{
                width: 100%;
                transform: rotate(-90deg);
                position: absolute;
                top:0;
                transition: all .5s;
                img{
                    width: 100%;
                    vertical-align:top;
                }
            }
            .turn_zero{
                transform: rotate(0deg);
            }
        }
    }
    .con_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
        box-sizing: border-box;

        .item{
            width: 50%;
            display: flex;
            .item_title{
                width: 36%;
            }
            .item_text{
                width: 50%;
            }
        }

    }
}

}

