// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

// layout
@import 'layout/header_back';
@import 'layout/footer_back';

//彈跳視窗
@import 'layout/modal_password';

*{
    box-sizing: border-box;
    text-decoration: none;
    img{
        display: block;
    }
}
@include d{
    .wrapper{
        width: 100%;
        .info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            .pic{
                text-align: center;
                position: relative;
                .mem_f{
                    width: 12.5vw;
                    height: 12.5vw;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 2.5rem;
                }
                .camera{
                    position: absolute;
                    top: 32%;
                    right: 0;
                    img{
                        width: 1.25rem;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .txt{
                width: 68%;
                .item{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0.5rem;
                    label{
                       @include label; 
                       font-size: 1rem;
                    }
                    input{
                        @include text;
                    }
                    .bcgdis{
                        background-color: #ddd;
                    }
                    button{
                        @include smallbtn_s;
                        float: right;
                    }
                }
            }
        }
        .farmbanner{
            width: 100%;
            overflow: hidden;
            margin-bottom: 5rem;
            .banner{
                display: flex;
                flex-direction: column;
                img{
                    margin-bottom: 1rem;
                }
                .selectimg{
                    @include select();
                    font-size: $p_size;
                    color: $btn_m_color;
                    border: 2px solid $btn_m_color;
                    appearance: none;
                    margin-left: 42%;
                }
            }
        }
        .farmpic{
            margin-bottom: 5rem;
            .pic{
                display: flex;
                justify-content: space-between;
                .btn{
                    width: 14rem;
                    .cutimg{
                        width: 14rem;
                        height: 7rem;
                        overflow: hidden;
                    }
                    img{
                        width: 100%;
                    }
                }
                .btn1{
                    position: relative;
                    .spic{
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 20;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.6);
                        h4{
                            padding: 0.2rem 1rem;
                        }
                    }
                }
                .btn2{
                    position: relative;
                    .spic{
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 20;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.6);
                        h4{
                            padding: 0.2rem 1rem;
                        }
                    }
                }
                .btn3{
                    position: relative;
                    .spic{
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 20;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.6);
                        h4{
                            padding: 0.2rem 1rem;
                        }
                    }
                }
            } 
        }
        h3{
            margin-bottom: 1rem;
        }
        .farmtxt{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            .story,.setting{
                width: 47%;
                textarea{
                    width: 100%;
                    height: 11.5rem;
                    border-radius: 0.5rem;
                    resize: none;
                }
            }
        }
        .save{
            @include flexcenter();
            .sfile{
            @include smallbtn_s;
            }
        }
    }
    #modal_password{
        background-color: #F7F6F2;
        h3{
            width: 100%;    
            height: 55px;
            @include flexcenter;  
            background-color: #84A59D;
            color: #fff;
            border-radius: 8px;
        }
        .psw{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px;
            label{
                @include label;
                padding: 5px 0;
            }
            input{
                @include text;
                width: 100%;
            }
        }
        .btn{
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input, button{
                width: 6.5rem;
                height: 35px;
                border-radius: 8px;
                border: none;
                cursor: pointer;
                color: #fff;
                font-weight: bolder;
            }
            input:hover{
                opacity: .8;
            }
            .clear{
                background-color: #BB9590;
            }
            .send{
                background-color:#84A59D;
            }
        }
    }
}