// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

//layout
@import 'layout/header_back';
@import 'layout/footer_back';

@include d {
    .item {
        margin: 0.5rem 0;
    }

    label {
        @include label;
        display: flex;
    }

    .item_text {
        @include text();
    }

    select {
        @include select(20rem);
    }

    .btnbox {
        width: 20rem;
        margin: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-self: flex-end;
    }

    .smallbtn_m {
        @include smallbtn_m
    }

    .smallbtn_s {
        @include smallbtn_s
    }

    .bigbtn_m {
        @include bigbtn_m
    }

    .bigbtn_s {
        @include bigbtn_s
    }

    .content_new {
        width: 100%;
        margin-bottom: 2rem;

        .content_new_status {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 1rem;
        }

        .content_new_text {
            background-color: #F7EDE2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border-radius: 15px;
            padding: 1rem;
            box-sizing: border-box;

        }

    }

    .content {
        width: 100%;
        border-radius: 10px;
        background-color: #F7EDE2;
        overflow: hidden;
        margin-bottom: 15px;
        .con_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $main_color;
            padding: 0.5rem 1rem;
            cursor: pointer;
            .minus_sign{
                width: 3%;
                position: relative;
                img{
                    width: 100%;
                    vertical-align:top;
                }
                .turn{
                    width: 100%;
                    transform: rotate(-90deg);
                    position: absolute;
                    top:0;
                    transition: all .5s;
                    img{
                        width: 100%;
                        vertical-align:top;
                    }
                }
                .turn_zero{
                    transform: rotate(0deg);
                }
            }

            #none {
                color: red;
                font-weight: 700;
            }
        }

        .con_text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 1rem;
            box-sizing: border-box;

            .photo {
                width: 20rem;
                vertical-align: middle;
                align-self:center;
                text-align: end;
                .bigbtn_s{
                    width: 9rem;
                }
            }

            .update {
                width: 20rem;
                margin: 0.5rem;
                align-self: flex-end;

                h3 {
                    line-height: 1;
                }
            }
        }
    }

    //彈跳查看更多照片
#moreimg {
    background-color: #F7F6F2;

}

.moreimg {
    .con {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    h3 {
        width: 100%;
        height: 55px;
        background-color: #84A59D;
        color: #fff;
        border-radius: 8px;
        @include flexcenter;
    }

    .imgbox {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    table {
        text-align: center;
        margin: 17px 0;

        tr {
            &:nth-child(odd) {
                background-color: #fff;
            }
            &:nth-child(even) {
                background-color: #e9e9e9;
            }
            th {
                padding: 5px 0;
            }

            td {
                text-align: center;
                vertical-align: middle;
                padding: 10px;

                &:first-child {
                    width: 30%;
                }

                p {
                    margin: 0 auto;
                    text-align: center;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
    
}