// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

// layout
@import 'layout/header_back';
@import 'layout/footer_back';


@include d{
    .wrapper{
        width: 100%;
        .info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            .pic{
                text-align: center;
                position: relative;
                .mem_f{
                    width: 12.5vw;
                    height: 12.5vw;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 2.5rem;
                    img{
                        width: 100%;
                        margin-top: -4rem;
                    }
                }
                .camera{
                    position: absolute;
                    top: 32%;
                    right: 0;
                    img{
                        width: 1.25rem;
                    }
                }
            }
            .txt{
                width: 68%;
                .item{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0.5rem;
                    label{
                       @include label; 
                       font-size: 1rem;
                       line-height: 2;
                    }
                    input{
                        @include text;
                    }
                    button{
                        @include smallbtn_s;
                        float: right;
                    }
                }
            }
            
        }
        .farmpic{
            margin-bottom: 5rem;
            .pic{
                display: flex;
                justify-content: space-between;
                .btn{
                    width: 32%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        h3{
            margin-bottom: 1rem;
        }
        .farmtxt{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            .story,.setting{
                width: 47%;
                textarea{
                    width: 100%;
                    height: 11.5rem;
                    border-radius: 0.5rem;
                    resize: none;
                }
            }
        }
    }
}