// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

//layout
@import 'layout/header_back';
@import 'layout/footer_back';

@include d{
    
body{
    background-image: url("../images/svg/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.content{
    width: 100%;
    border-radius: 10px;
    background-color: #F7EDE2;
    overflow: hidden;
    margin-bottom: 15px;
    .con_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main_color;
        padding: 0.5rem 1rem;
        cursor: pointer;
        .minus_sign{
            width: 3%;
            position: relative;
            img{
                width: 100%;
                vertical-align:top;
            }
            .turn{
                width: 100%;
                transform: rotate(-90deg);
                position: absolute;
                top:0;
                transition: all .5s;
                img{
                    width: 100%;
                    vertical-align:top;
                }
            }
            .turn_zero{
                transform: rotate(0deg);
            }
        }
    }
    table{
        font-size: 1.2rem;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        tbody{
          &:first-child{
            padding-right: 35px;  
          }  
          h3{
              padding-right: 10px;
          }
        }
        
    }
}

}

