// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
@import 'layout/footer';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    list-style: none;
    text-decoration: none
}
.content{
    @include container(10rem);
    display: flex;
    flex-direction: column;
    .box{
        width: 100%;
    }
    .box:nth-child(1){
        .breadcrumb{
            padding: 0 0.5rem 1rem;
            ol{
                display: flex;
            }
            li{
                
                padding: 0 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }

    }
    .box:nth-child(2){
        position: relative;
        .img{
            width: 100%;
            height: 300px;
            background-image: url('../images/img/contact_4.jpg');

            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        .shadow{
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            top:0;
        }
        .text{
            @include positioncenter();
            width: 20rem;
            text-align: justify;
            padding: 10px;
            h3{text-align: center;color:#f6bd60;}
            p{
                color:$bg_color;
                margin-bottom: 3rem;
            
            }
            ul{
                li{
                    // width:100%;
                    font-size:1rem;
                    color:$bg_color;
                    line-height: $p_line;
                    letter-spacing: $p_letter;
               
            }
        }
        }
        
    }
    .box:nth-child(3){
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 0;
            .col{
                text-align: left;
                @include margincenter($var:0.5rem);
            }
        }
        label{
            @include label;
            display: block;
            line-height: 2;
        }
        input,textarea{
            @include text(350px);
            border-radius: 10px;
        
        }
        select{
        @include select(350px);
        color: #b5b5b5;
        font-size: 1rem;

        }
        textarea{
            max-width: 350px;
            min-width: 350px;
            max-height: 295px;
            min-height: 295px;
        }
        .btnbox{
            width: 350px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            @include margincenter($var:0.5rem);
            
            .btn{
                @include smallbtn_s;
                
                
            }
            a{
                .sub{
                    @include smallbtn_m;
                }
            }
        }
    }
}

    .dialog{
        width: 150px;
        height: 100px;
        background-color: #F7F6F2;
        padding: 20px;
        p{
        }
    }
/*RWD*/

@include t{
    .content{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .box:nth-child(1){
            width: 100%;
        }
        .box:nth-child(2){
            width: 50%;
            .img{
                // height: 660px;
                height: 100%;
            }
        }
        .box:nth-child(3){
            width: 50%;
            background-color: #DFE5DC;
            .form{
            }
        
        }
    }
    .info{
        flex-wrap: nowrap;
        padding: 1rem;

        .box{
            width: 50%;
        }
    }
}
@include d{

}
