// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin

@import 'mixin/mixin';
@include d{
    .box{
        background-color: rgb(119, 26, 26);
    }
}
