// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    @include container(10rem);
    display: flex;
    flex-direction: column;
    // width: 100%;
    .box{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .box:nth-child(1){
        position: relative;
        .img{
            width: 100%;
            height: 200px;
            background-image: url('../images/img/pexels-photo-4018843.jpeg');
            background-color:$bg_color;
            opacity: 0.8;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text{
            @include positioncenter();
            background-color: $bg_color;
            padding: 10px;
            h3{
                text-align: center;
            }
 
        }
        
    }
    .box:nth-child(2){
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            .col{
                text-align: left;
            }
        }
        label{
            @include label;
            display: block;
            margin-top: 10px;
        }
        input,textarea{
            @include text(350px);
            border-radius: 10px;
        
        }
        select{
        @include select(350px);
        color: #b5b5b5;
        font-size: 1rem;
            option{
               
            }
        }
        textarea{
            max-width: 350px;
            min-width: 350px;
            max-height: 295px;
            min-height: 295px;
        }
        .btnbox{
            width: 350px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            .btn:nth-child(1){
                @include smallbtn_s;
                
            }
            .btn:nth-child(2){
                @include smallbtn_m;
            }
        }
    }
}
.info{
    margin-top: 80px;
    @include container;
    width: 100%;
    background-color:$main_color;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
        .box{
            width: 100%;
            margin: auto;
            padding: 15px;
            position: relative;
            
        }
        .box:nth-child(1){
            @include flexcenter();
        }
        .box:nth-child(2){

            @include flexcenter();
            ul{
                li{
                    color: $h4_color;
                    font-size: $h4_size;
                    line-height: $h4_line;
                    letter-spacing: $h4_letter;
                }
            }
        }
    }

/*RWD*/

@include t{
    .content{
        flex-direction: row;
        .box{
            width: 50%;
        }
        .box:nth-child(1){
            .img{
                height: 550px;
            }
        }
    }
    .info{
        flex-wrap: nowrap;
        padding: 20px;
        .box{
            width: 50%;
        }
    }
}