// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin

@import 'mixin/mixin';
body{
    background-image: url('../images/img/pexels-photo-3541364.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    @include container;
    display: flex;
    flex-direction: column;
    .box{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .box:nth-child(1){
        position: relative;
        .img{
            width: 100%;
            height: 200px;
            background-image: url('../images/post/post_farm_5.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text{
            @include positioncenter();
            h3{
                text-align: center;
            }
        }
        
    }
    .box:nth-child(2){
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            .col{
                text-align: left;
            }
        }
        label{
            @include label;
            display: block;
            margin-top: 10px;
        }
        input,textarea{
            @include text(350px);
            border-radius: 10px;
        
        }
        select{
        @include select(350px);
        // border-radius: 10px;
        }
        textarea{
            max-width: 350px;
            min-width: 350px;
            max-height: 295px;
            min-height: 295px;
        }
        .btnbox{
            width: 350px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            .btn:nth-child(1){
                @include smallbtn_s;
                
            }
            .btn:nth-child(2){
                @include smallbtn_m;
            }
        }
    }
}
.info{
    @include container;
    background-color:$main_color;
    display: flex;
    margin-bottom: 20px;
        .box{
            width: 50%;
            padding: 20px;
            
        }
        .box:nth-child(1){
            @include flexcenter();
        }
        .box:nth-child(2){
            ul{
                li{
                    color: $h4_color;
                    font-size: $h4_size;
                    line-height: $h4_line;
                    letter-spacing: $h4_letter;
                }
            }
        }
    }

/*RWD*/

@include d{
    .content{
        flex-direction: row;
        .box{
            width: 50%;
        }
        .box:nth-child(1){
            .img{
                height: 550px;
            }
        }
    }
}