// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin

@import 'mixin/mixin';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.content,.info{
    @include container;
    display: flex;
}
    .box{
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }
    .box:nth-child(1){
        position: relative;
        .img{
            width: 100%;
            height: 550px;
            background-image: url('../images/post/post_farm_5.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text{
            @include positioncenter();
            h3{
                text-align: center;
            }
        }
        
    }
    .box:nth-child(2){
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .col{
            text-align: left;
        }
    }
    label{
        @include label;
        display: block;
        margin-top: 10px;
    }
    input,textarea{
        @include text(350px);
        border-radius: 10px;
    
    }
    select{
    @include select(350px);
    // border-radius: 10px;
    }
    textarea{
        max-width: 350px;
        min-width: 350px;
        max-height: 295px;
        min-height: 295px;
    }
    .btnbox{
        width: 350px;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        .btn:nth-child(1){
            @include smallbtn_s;
            
        }
        .btn:nth-child(2){
            @include smallbtn_m;
        }
    }
    .info{
        .box{
            background-color:$main_color;
            
            
        }
        .box:nth-child(1){
            
        }
        .box:nth-child(2){
            ul{
                li{
                    color: $p_color;
                    font-size: $p_size;
                    line-height: $p_line;
                    letter-spacing: $p_letter;
                }
            }
        }
    }

/*RWD*/
@include m{
    .content{
        flex-wrap: wrap;
        flex-direction: column;
        .box:nth-child(1){
            height: auto;
           .img{
            height: 200px;           }
           .text{
               bottom: 0;
           }
        }

    }
    .box{
        width: 100%;
    }
    
 
}



