// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    @include container(10rem);
    display: flex;
    flex-direction: column;
    // width: 100%;
    .box{
        width: 100%;
        
    }
    .box:nth-child(1){
        position: relative;
        .img{
            width: 100%;
            height: 200px;
            background-image: url('../images/img/contact_4.jpg');
            opacity: 0.8;
            background-color: $bg_color;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text{
            @include positioncenter();
            // background-color: $bg_color;
            padding: 10px;
            h3{text-align: center;color:#f6bd60;}
            p{color: #fff;}
 
        }
        
    }
    .box:nth-child(2){
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            .col{
                text-align: left;
                @include margincenter($var:0.5rem);
            }
        }
        label{
            @include label;
            display: block;
            margin-top: 10px;
        }
        input,textarea{
            @include text(350px);
            border-radius: 10px;
        
        }
        select{
        @include select(350px);
        color: #b5b5b5;
        font-size: 1rem;

        }
        textarea{
            max-width: 350px;
            min-width: 350px;
            max-height: 295px;
            min-height: 295px;
        }
        .btnbox{
            width: 350px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            @include margincenter($var:0.5rem);
            
            .btn{
                @include smallbtn_s;
                
                
            }
            a{
                .sub{
                    @include smallbtn_m;
                }
            }
        }
    }
}
.info{
    // @include margincenter($var:3rem);
    background-color:$main_color;
    display: flex;
    flex-wrap: wrap;
        .box{
            width: 100%;
            margin: auto;
            padding: 15px;
            position: relative;
            
        }
        .box:nth-child(1){
            @include flexcenter();
        }
        .box:nth-child(2){

            @include flexcenter();
            ul{
                li{
                    color: $h4_color;
                    font-size: $h4_size;
                    line-height: $h4_line;
                    letter-spacing: $h4_letter;
                }
            }
        }
    }
    .dialog{
        width: 150px;
        height: 100px;
        background-color: #F7F6F2;
        padding: 20px;
        p{
        }
    }
/*RWD*/

@include t{
    .content{
        flex-direction: row;
        width: 100%;
        .box{
            width: 50%;
            @include flexcenter();
        }
        .box:nth-child(1){
            .img{
                height: 660px;
            }
        }
        .box:nth-child(2){
            background-color: #DFE5DC;
            .form{
            }
        
        }
    }
    .info{
        flex-wrap: nowrap;
        padding: 1rem;

        .box{
            width: 50%;
        }
    }
}
