// base 
@import 'base/var';
@import 'base/color';
@import 'base/font';
@import 'base/reset';

// mixin

@import 'mixin/mixin';

// layout 

@import './layout/header';
@import './layout/foooter';


// bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables"; // BS變數scss原檔
@import "../../node_modules/bootstrap/scss/mixins";

.form{
    max-width:$d_minWidth;
    background-color: $bg_color;
}