// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
@import 'layout/footer';

button{
    @include smallbtn_s;
    outline:none;

}
label{
    @include label;

}
select{
    @include select;
}
// -> 地圖
#map{
    background-color: #ccc;
    min-height: 400px;
    .col{
        padding: 1rem;
        background-color:$second_color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include flexcenter();
        .img{
            width: 10rem;
            height: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
           
        }
        .info{
                padding: 1rem;
               
        }
    }
}

//-----內容------//


.wrap{
    @include container();
     
    .box:nth-child(1){//----------麵包屑
        .breadcrumb{
            // padding: 0 0.5rem 1rem;
            background: none;
            ol{
                display: flex;
            }
            li{
                
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
    .box:nth-child(2){ //----------篩選框
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include margincenter(2rem,2rem);
        .item{            
            margin-bottom: 1rem;
        }
    }
}
.breadcrumb{
    padding: 0;
}
    // .box:nth-child(2){
    //     display: flex;
    //     .item{
    //         @include margincenter($var:1.25rem);
    //         width: 100%;

    //         border: 1rem solid $second_color;
    //         box-sizing: border-box;
    //     }

    // }

/*RWD*/
@include t{
    #map{
        min-height: 450px;
    }

}
@include d{
    .wrap{
    
        .box:nth-child(2){ //----------篩選框
            flex-direction: row;
            
            .item{
                width: 35%;
                margin-bottom: 0;
            }
            .item:nth-child(2){
                // margin-right: 10rem;
            }
        }

    }
    #map{
        
        .col{
            flex-direction: row;
            .img{
                display:block;
            }
            .info{
                background-color: #fff;
            }
        }
    }
}
