// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

*{
    box-sizing: border-box;
    text-decoration: none;
    img{
        display: block;
    }
}
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page{
    @include margincenter(8rem);
}
@include d{
    .farminfo-nav{
        .container{
            @include container();
            .breadcrumb{
                display: flex;
                padding: 0 0.5rem 1rem;
                li{
                    &::before{
                        content: '⁄';
                        margin-right: 1rem;
                    }
                    &:last-child a{
                        color: $main_color;
                    }
                }
                a{
                    color: $p_color;
                    font-weight: $h3_weight;
                    &:hover{
                        color: $main_color;
                    }
                }
            }
        }
    }
    .banner{
        position: relative;
        img{
            width: 100%;
        }
        .bagr{
            width: 100%;
            height: 18.5rem;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7;
        }
    }
    .describe{
        position: relative;
        z-index: 10;
        margin-top: -6.5rem;
        margin-bottom: 7.5rem;
        .container{
            @include container();
            .info{
                @include flexcenter();
                justify-content: space-between;
                padding-bottom: 2rem;
                .txt{
                    width: 28rem;
                    text-align: center;
                    padding: 0 2rem;
                    p{
                        text-align: start;
                    }
                }
                &:nth-child(even){
                    flex-direction: row-reverse;
                }
            }
        }
        
    }
    .adopt{
        @include container();
        margin-bottom: 4.5rem;
        .title{
            @include margincenter();
            text-align: center;
            width: 45rem;
            margin-bottom: 3.75rem;
        }
        .fruit{
            @include flexcenter;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: 16.5rem;
                margin-bottom: 4.5rem;
            }
            .pic{
                padding-bottom: 2rem;
            }
            .txt{
                h3{
                    position: relative;
                    &::after{
                        content: '';
                        margin-left: 10px;
                        position: absolute;
                        top: 50%;
                        border: 2px solid #2b2929;
                        width: 3rem;
                    }
                }
            }
        }
    }
    .activity{
        @include container();
        position: relative;
        .title{
            margin: 3.5rem auto 6.75rem;
            text-align: center;
            width: 45rem;
        }
        .content{
            margin: 0 2.5rem 7.5rem;
            width: 51rem;
            height: 28rem;
            background-color: $btn_m_color;
            position: relative;
            .block{
                display: flex;
                align-items: center;
                position: absolute;
                top: -3rem;
                left: 3rem;
                right: -3rem;
                .pic{
                    width: 51%;
                    img{
                        width: 100%;
                    }
                }
                .txt{
                    width: 49%;
                    padding: 4rem 5.5rem 3rem 3.75rem;
                    background-color: $header_color;
                    .word{
                        h2,h3{
                            padding-bottom: 1rem;
                        }
                        p{
                            padding-bottom: 0.5rem;
                        }
                        button{
                            @include smallbtn_m;
                        }
                    }
                }
            }
        }
        .arrow{
            display: flex;
            .left{
                position: absolute;
                width: 20px;
                top: 55%;
                left: 0;
                &:hover{
                    background-image: url("../images/svg/left-btn-y.svg");
                }
            }
            .right{
                position: absolute;
                width: 20px;
                top: 55%;
                right: 0;
                &:hover{
                    background-image: url("../images/svg/right-btn-y.svg");
                }
            }
        }
    }
    .post{
        .container{
            @include container();
            .title{
                text-align: center;
                margin-bottom: 3.75rem;
            }
            .pic{
                width: 30rem;
                height: 30rem;
                border-radius: 50%;
                overflow: hidden;
                background: url();
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}