// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

//彈跳視窗
@import 'layout/modal_login';

// layout
@import 'layout/header';
@import 'layout/footer';
@mixin title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.75rem;
    @content;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    img{
        display: block;
    }
}
.page{
    @include margincenter(7rem);
}
.farminfo-nav{
    .container{
        @include container();
        .breadcrumb{
            display: flex;
            padding-bottom: 35px;
            li{
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
}
.banner{
    position: relative;
    img{
        width: 100%;
    }
    .bagr{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
    }
}
.describe{
    position: relative;
    z-index: 10;
    margin-top: -3rem;
    margin-bottom: 7.5rem;
    .container{
        @include container();
        .info{
            @include flexcenter();
            justify-content: space-between;
            flex-direction: column-reverse;
            padding-bottom: 3rem;
            img{
                width: 100%;
            }
            .txt{
                width: 28rem;
                text-align: center;
                padding: 0 2rem;
                p{
                    text-align: start;
                }
            }
        }
    }
}
.adopt{
    @include container();
    margin-bottom: 4.5rem;
    .title{
        @include title;
    }
    .fruit{
        @include flexcenter;
        flex-wrap: wrap;
        .card{
            width: 16.5rem;
            margin-bottom: 4.5rem;
        }
        .pic{
            padding-bottom: 2rem;
        }
        .txt{
            text-align: center;
            h3{
                position: relative;
                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    border: 1.5px solid #2b2929;
                    width: 1rem;
                }
                &::before{
                    left: 23%;
                }
                &::after{
                    right: 23%;
                }
            }
        }
    }
}
.activity{
    .container{
        @include container();
        position: relative;
        .title{
            @include title;
        }
        .content{
            margin: 0 2.5rem 7.5rem;
            .block{
                .pic{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .txt{
                    width: 100%;
                    padding: 2rem 3rem 1.5rem 1.5rem;
                    background-color: $header_color;
                    .word{
                        h2,h3{
                            padding-bottom: 1rem;
                        }
                        p{
                            padding-bottom: 0.5rem;
                        }
                        button{
                            @include smallbtn_m;
                        }
                    }
                }
            }
        }
        .arrow{
            display: flex;
            .left{
                position: absolute;
                width: 1.25rem;
                top: 55%;
                left: 0;
            }
            .right{
                position: absolute;
                width: 1.25rem;
                top: 55%;
                right: 0;
            }
        }
    }
}
.post{
    width: 100%;
    .container{
        .title{
            @include container();
            text-align: center;
            margin-bottom: 3.75rem;
        }
    }
    .owl-theme .item {
        padding-top: 100%;
        position: relative;
        .card{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .pic{
                width: 100%;
                height: auto;
                overflow: hidden;
                border-radius: 50%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2rem solid #FAEEE0;
                }
            }
            .mempic{
                position: absolute;
                width: 25%;
                top: 1rem;
                left: -0.5rem;
            }
            .txt{
                width: 70%;
                padding: 2rem 1.5rem 1rem;
                border-radius: 0.5rem;
                background-color: $header_color;
                opacity: 0.9;
                position: absolute;
                bottom: 0;
                right: 0;
                p{
                    text-align: justify;
                    padding-bottom: 0.5rem;
                }
                .tag{
                    padding-bottom: 0.5rem;
                    a{
                        color: $p_color;
                    }
                }
                .icon{
                    float: right;
                    margin-top: 1.25rem;
                    .btn_heart{
                        background: url("../images/post/heart_gray.svg") no-repeat;
                        border: 0;
                        height: 1.5rem ;
                        width: 1.5rem;
                        cursor: pointer;
                    }
                    .btn_loudly{
                        background: url("../images/post/loudly_gray.svg") no-repeat;
                        border: 0;
                        height: 1.5rem ;
                        width: 1.5rem;
                        cursor: pointer;
                    }
                    span{
                        color: #939393;
                        font-size: $h3_size;
                        padding-left: 0.3rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
    .owl-carousel .owl-stage{
        cursor: grab;
    }
}
@include t{
    .adopt{
        .fruit{
            justify-content: space-evenly;
        }
    }
}
@include d{
    .describe{
        margin-top: -6.5rem;
        .container{
            .info{
                flex-direction: row;
                padding-bottom: 2rem;
                &:nth-child(even){
                    flex-direction: row-reverse;
                }
            }
        }
    }
    .adopt{
        .title{
            width: 45rem;
        }
        .fruit{
            justify-content: space-between;
        }
    }
    .activity{
        .container{
            .title{
                width: 45rem;
                margin-bottom: 6.75rem;
            }
            .content{
                width: 63.75vw;
                height: 35vw;
                background-color: $btn_m_color;
                position: relative;
                .block{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: -3rem;
                    left: 3rem;
                    right: -3rem;
                    .pic{
                        width: 32.5vw;
                    }
                    .txt{
                        width: 31.5vw;
                        padding: 4rem 5.5rem 3rem 3.75rem;
                    }
                }
            }
        }
    }
    .post{
        .card{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .pic{
                width: 100%;
                height: auto;
                overflow: hidden;
                border-radius: 50%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .mempic{
                position: absolute;
                top: 1rem;
                left: 1rem;
            }
            .txt{
                width: 75%;
                padding: 2rem 1.5rem 1rem;
                border-radius: 0.5rem;
                background-color: $header_color;
                opacity: 0.9;
                position: absolute;
                bottom: 1rem;
                right: 0;
                p{
                    text-align: justify;
                    padding-bottom: 0.5rem;
                }
                .tag{
                    padding-bottom: 0.5rem;
                }
                .icon{
                    display: flex;
                    float: right;
                    img{
                        height: 1.25rem;
                    }
                    span{
                        color: #939393;
                        font-size: $h3_size;
                        padding-left: 0.3rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
}