// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
@import 'layout/footer';

label{
    @include label;

}
select{
    @include select;
}
button{@include smallbtn;}
a{text-decoration: none;}
#city{margin-left: 3rem;}
// -> 地圖
#map{
    
    // min-height: 400px;
    .col{
        padding: 1rem;
        background-color:$second_color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include flexcenter();
        .img{
            width: 10rem;
            height: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
           
        }
        .info{
                padding: 1rem;
               
        }
    }
}

//-----內容------//


.wrap{
    @include container();
    margin: 7rem auto 2rem;
    .box:nth-child(1){//----------麵包屑
        .breadcrumb{
            // padding: 0 0.5rem 1rem;
            background: none;
            ol{
                display: flex;
            }
            li{
                
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                
                &:hover{
                    color: $btn_m_color;
                }
            }
        }
    }
}
    .citybox{
        max-width: 1280px;
        min-width: 350px;
        display: flex;
        width: 100%;
        margin: auto; 
        justify-content: space-evenly;
        position: relative;

    }
    .mapbox{
        max-width: 1280px;
        min-width: 350px;
        width: 100%;
        margin: auto;
        margin-bottom: 5rem;
        .mapitem{width: 100%;}
        .mapitem:nth-child(1){ //地圖
            background-color: #ccc;
            height: 400px;

        }
    .mapitem:nth-child(2){ //地點照片
       display: flex;
       box-sizing: border-box;
       .swiper {
        width: 100%;
        height: 100%;
        padding: 2rem;
        cursor: grab;
        
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* width: 100px; */
        border-radius: 10px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    .swiper-slide {
        width:100px;
        height:100px;
        }
        .swiper-container img {
            width:80px;
        
        }
    }
        
}


.breadcrumb{
    padding: 0;
}
    // .box:nth-child(2){
    //     display: flex;
    //     .item{
    //         @include margincenter($var:1.25rem);
    //         width: 100%;

    //         border: 1rem solid $second_color;
    //         box-sizing: border-box;
    //     }

    // }

/*RWD*/
@include t{
    #map{
        // min-height: 450px;
    }


}
@include d{
    .local{
        font-size: 18px;
    }
    .wrap{
        .box:nth-child(2){ //----------篩選框
            flex-direction: row;
        }

    }
    .mapbox,.citybox{
        width: 90%;
        .mapitem:nth-child(1){ //地圖
           
            height: 500px;
            
        }
        .mapitem:nth-child(2){ //地點照片
            .swiper-slide img {
                height: 150px;
              }
            
        }
    }
    #map{
        
        .col{
            flex-direction: row;
            .img{
                display:block;
            }
            .info{
                background-color: #fff;
            }
        }
    }

}

.bred >*{
    margin-right:3rem;
}

.breadcrumb{
    margin-bottom:0;
}