// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap{
    @include container(10rem);
    // width: 100%;
    .box:nth-child(1){
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        @include flexcenter();
        .item{
            
            @include margincenter($var:0.625rem);
        }
    }
    .box:nth-child(2){
        display: flex;
        flex-direction: column;
        .item{
            @include margincenter($var:1.25rem);
        }
        .item:nth-child(1){
            width: 100%;
            height:38rem;
            border: 1rem solid $second_color;
            box-sizing: border-box;
            background-color: #fff;
        }
        .item:nth-child(2){
            // @include flexcenter();
            .col{
                width: 23rem;
                height: 12rem;
                position: relative;
                .bg{
                    width: 22rem;
                    height: 11rem;
                    background-color:$second_color;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                }
                .img{
                    width: 11rem;
                    height: 10rem; 
                    background-image: url('../images/post/apples-1872997_1920.jpg');
                    background-position: center;
                    position: absolute;
                    z-index: 2;
                    left: 1.5rem;
                   
                }
                .info{
                    width: 10.5rem;
                    height: 9rem;
                    background-color:#fff;
                    position: absolute;
                    padding: 1rem;
                    z-index: 2;
                    top:0.5rem;
                    right: 0;
                    box-sizing: border-box;
                    text-align: center;
                    .btn{
                        @include smallbtn_m;
                    }
                }
            }
        }
    }
}

        label{
            @include label;

        }
        select{
            @include select;
            margin-left: 1rem;
        }
/*RWD*/
@include t{
    .wrap{
        .box:nth-child(1){
            flex-direction: row;
            // width: 65%;
            background-color: forestgreen;
            .item{
                width: 100%;
            }
        }
        .box:nth-child(2){
            flex-direction: row;
            
            .item:nth-child(1){
                width: 65%;
                
            }
            .item:nth-child(2){
                
                
                width: 35%;
                position: relative;
                .col{
                    position: absolute;
                    right: 0;
                }
                
            }
        }
    }
}
