// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
@import 'layout/footer';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    @include smallbtn_s;
    outline:none;

}
#map{
    background-color: #ccc;
    min-height: 400px;
    .col{
        padding: 1rem;
        background-color:$second_color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include flexcenter();
        .img{
            width: 10rem;
            height: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
           
        }
        .info{
                padding: 1rem;
               
        }
    }
}
.wrap{
    @include container(10rem);
    .box:nth-child(1){
        display: flex;
        flex-direction: column;
        .item{
            @include margincenter($var:0.625rem);
            width: 100%;
            justify-content: space-evenly;

        }
    }
    // .box:nth-child(2){
    //     display: flex;
    //     .item{
    //         @include margincenter($var:1.25rem);
    //         width: 100%;

    //         border: 1rem solid $second_color;
    //         box-sizing: border-box;
    //     }

    // }
}

        label{
            @include label;

        }
        select{
            @include select;
            margin-left: 1rem;
        }

/*RWD*/
@include t{
    .wrap{
        .box:nth-child(1){
            flex-direction: row;
            width: 70%;
            .item{
                width: 100%;
            }
        }
        .box:nth-child(2){
            .item:nth-child(2){
                
                
                width: 35%;
                position: relative;
                .col{
                    position: absolute;
                    right: 0;
                }
                
            }
        }
    }
    #map{
        
        .col{
            flex-direction: row;
            .img{
                display:block;
            }
            .info{
                background-color: #fff;
            }
        }
    }

}
@include d{

}
