// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
@import 'layout/footer';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    @include smallbtn_s;
    outline:none;

}
label{
    @include label;

}
select{
    @include select;
    margin-left: 1rem;
}
// -> 地圖
#map{
    background-color: #ccc;
    min-height: 400px;
    .col{
        padding: 1rem;
        background-color:$second_color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include flexcenter();
        .img{
            width: 10rem;
            height: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
           
        }
        .info{
                padding: 1rem;
               
        }
    }
}

//-----內容------//
//  box1->麵包屑
//  box2->篩選框
.wrap{
    @include container(7rem);
    .box:nth-child(1){
        .breadcrumb{
            // padding: 0 0.5rem 1rem;
            background: none;
            ol{
                display: flex;
            }
            li{
                
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
    .box:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        .item{
            @include margincenter($var:0.5rem);
            
        }
    }
}
.breadcrumb{
    padding: 0;
}
    // .box:nth-child(2){
    //     display: flex;
    //     .item{
    //         @include margincenter($var:1.25rem);
    //         width: 100%;

    //         border: 1rem solid $second_color;
    //         box-sizing: border-box;
    //     }

    // }

/*RWD*/
@include t{
    .wrap{
    
        .box:nth-child(2){
            flex-direction: row;
            .item{
                width: 50%;
                text-align: center;

            }
        }
        .box:nth-child(3){
            .item:nth-child(2){
                
                
                width: 35%;
                position: relative;
                .col{
                    position: absolute;
                    right: 0;
                }
                
            }
        }
    }
    #map{
        
        .col{
            flex-direction: row;
            .img{
                display:block;
            }
            .info{
                background-color: #fff;
            }
        }
    }

}
@include d{}
