// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

//彈跳視窗
@import 'layout/modal_login';

// layout
@import 'layout/header';
@import 'layout/footer';
@mixin title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.75rem;
    @content;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    img{
        display: block;
    }
}
.page{
    @include margincenter(7rem);
    // margin-bottom: 5rem;
}
.farminfo-nav{
    .container{
        @include container(0,0);
        .breadcrumb{
            display: flex;
            padding-bottom: 35px;
            li{
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
}
.banner{
    position: relative;
    img{
        width: 100%;
    }
    .bagr{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
    }
}
.describe{
    position: relative;
    z-index: 10;
    margin-top: -3rem;
    margin-bottom: 7.5rem;
    .container{
        @include container(0,0);
        .info{
            @include flexcenter();
            justify-content: space-between;
            flex-direction: column-reverse;
            padding-bottom: 3rem;
            img{
                width: 100%;
            }
            .txt{
                width: 28rem;
                text-align: center;
                padding: 0 2rem;
                p{
                    text-align: start;
                }
            }
        }
    }
}
.adopt{
    @include container(0,0);
    margin-bottom: 4.5rem;
    .title{
        @include title;
    }
    .fruit{
        @include flexcenter;
        flex-wrap: wrap;
        .card{
            width: 16.5rem;
            margin-bottom: 4.5rem;
        }
        .pic{
            width: 16.5rem;
            height: 16.5rem;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 2rem;
            img{
                width: 120%;
            }
        }
        .txt{
            text-align: center;
            h3{
                position: relative;
                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    border: 1.5px solid #2b2929;
                    width: 1rem;
                }
                &::before{
                    left: 23%;
                }
                &::after{
                    right: 23%;
                }
            }
        }
    }
    p{
        text-align: center;
    }
}
.activity{
    .container{
        @include container(0,0);
        position: relative;
        .title{
            @include title;
            p{
                text-align: center;
            }
        }
        .content{
            margin: 0 2.5rem 7.5rem;
            .owl-carousel .owl-stage{
                cursor: grab;
            }
            #owl-two .owl-theme .owl-nav {
                display: none;
            }
            #owl-two .item{
                .pic{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .txt{
                    width: 100%;
                    padding: 2rem 3rem 1.5rem 1.5rem;
                    background-color: #fff;
                    .word{
                        h2,h3{
                            padding-bottom: 1rem;
                        }
                        p{
                            padding-bottom: 0.5rem;
                        }
                        a{
                            .actbtn{
                                @include smallbtn_m;
                            }
                        }
                    }
                }
            }
        }
    }
}
.post{
    width: 100%;
    .container{
        .title{
            @include container(0,0);
            text-align: center;
            margin-bottom: 3.75rem;
        }
    }
    #owl-one .owl-theme .owl-nav {
        display: none;
    }
    #owl-one .item{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: #FAEEE0;
        padding: 2rem;
        position: relative;
        margin-bottom: 3rem;
        .pic{
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .mempic{
            position: absolute;
            width: 25%;
            top: 1rem;
            left: -0.5rem;
        }
        .txt{
            width: 70%;
            padding: 2rem 1.5rem 1rem;
            border-radius: 0.5rem;
            background-color: #fff;
            opacity: 0.9;
            position: absolute;
            bottom: 0;
            right: 0;
            .tag{
                padding-bottom: 0.5rem;
                margin-top: 1rem;
                a{
                    color: #939393;
                }
            }
            span{
                color: #939393;
                font-size: $p_size;
                padding-left: 0.3rem;
                padding-right: 1rem;
                font-weight: $h2_weight;
            }
            .icon{
                display: flex;
                float: right;
                .btn_heart{
                    background: url("../images/post/heart_gray.svg") no-repeat;
                    border: 0;
                    height: 1.2rem ;
                    width: 1.2rem;
                    cursor: pointer;
                }
                .btn_loudly{
                    background: url("../images/post/loudly_gray.svg") no-repeat;
                    border: 0;
                    height: 1.2rem ;
                    width: 1.2rem;
                    cursor: pointer;
                }
            }
        }
    }
    .owl-carousel .owl-stage{
        cursor: grab;
    }
}
.footer{
    margin-top: 5rem;
}
@include t{
    .adopt{
        .fruit{
            justify-content: space-evenly;
        }
    }
}
@include d{
    .describe{
        margin-top: -6.5rem;
        .container{
            .info{
                flex-direction: row;
                padding-bottom: 2rem;
                &:nth-child(even){
                    flex-direction: row-reverse;
                }
            }
        }
    }
    .adopt{
        .title{
            width: 45rem;
        }
        .fruit{
            justify-content: space-between;
        }
    }
    .activity{
        .container{
            .title{
                width: 45rem;
                margin-bottom: 6.75rem;
            }
            .content{
                width: 63.75vw;
                height: 36vw;
                background-color: $btn_m_color;
                position: relative;
                #owl-two .item{
                    display: flex;
                    align-items: center;
                    top: -3rem;
                    left: 3rem;
                    right: -3rem;
                    margin-bottom: 1rem;
                    margin-left: 2rem;
                    .pic{
                        width: 32.5vw;
                    }
                    .txt{
                        width: 31.5vw;
                        padding: 4rem 5.5rem 3rem 3.75rem;
                    }
                }
            }
        }
    }
}