// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
label{
    @include label;
    display: block;
    margin-top: 10px;
}
input{
    @include text(350px);
    border-radius: 10px;

}
select{
    @include select(350px);
    color: #b5b5b5;
    font-size: 1rem;
    }

/*是窗框*/
.dialog{
    width: 370px;
    height: auto;
    background-color: #F7F6F2;
    padding: 1.25rem 1.8rem 1rem;
    p{
        text-align: justify;
    }
    span{font-size: 12px; color: rgb(58, 51, 51)}
}
.wrap{
    @include container(10rem);
    display: flex;
    flex-direction: column;

    .box{
        display: flex;
        @include margincenter($var:1.5rem);
        @include flexcenter();
    }
    .box:nth-child(1){
        .logo{
            width:13rem ;
            height:10rem ;
           background-image: url('../images/common/farm_login_img.svg');
           background-repeat: no-repeat;
         
        }
    }
    .box:nth-child(2){
        h3{color:#248427;}
    }
    .box:nth-child(3){
        .item{
            @include margincenter($var:1rem);
        }
        .item:nth-child(10){
            max-width: 350px;
            width: 100%;
            display: flex;
            input{
                width: 10%;
            }
            label{
                width: 90%;
                font-size: 12px;
                margin-top: 0px;
            }

        }
        .btnbox{
            width: 350px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
           .btn:nth-child(1){@include smallbtn_s;}
            .btn:nth-child(2){@include smallbtn_m;}
        }
    }
}
