// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

article {
    margin-bottom: 5rem;

}

.title_con {
    background-color: #f8f4ef;

    .title_text {
        @include container();
        height: 8.5rem;
        padding: 8rem 0 1rem;
    }
}

.slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 8rem;

    .left_con {
        width: 55%;
        position: absolute;
        bottom: 0;
        left: -60%;

        .left_con_box {
            width: 200%;
            position: relative;

            &:nth-child(1) {
                background-color: #f7ede3;
            }

            &:nth-child(2) {
                background-color: $main_color;
            }

            &:nth-child(3) {
                background-color: $btn_m_color;
            }

            img {
                width: 100%;
                vertical-align: top;
            }

            .title {
                display: none;
            }
        }

    }

    .right_con {
        width: 45%;
        position: absolute;
        top: 0;
        left: 50%;

        .right_con_box {
            width: 200%;

            &:nth-child(1) {
                background-color: $main_color;
            }

            &:nth-child(2) {
                background-color: #f7ede3;
            }

            &:nth-child(3) {
                background-color: #dcb6af;
            }

            img {
                width: 100%;
                vertical-align: top;
            }
        }
    }
}

.bigbtn_m {
    @include bigbtn_m
}

// section {
//     max-width: 1280px;
// }

.adopt_tree {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 8rem;
}

.left_icon {
    width: 5%;
    cursor: pointer;
    opacity: .3;
    pointer-events: none;
}

.right_icon {
    width: 5%;
    cursor: pointer;
}

.adopt_tree_text {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.adopt_tree_img {
    width: 100%;
    order: 1;

    .tree {
        width: 90%;
        display: flex;
        position: relative;
        cursor: pointer;

        .tree_o {
            width: 100%;
            transition: all .3s linear;
        }

        //果實絕對位置
        //範圍
        .tree_fruit_box {
            width: 70%;
            height: 55%;
            position: absolute;
            top: 5%;
            left: 15%;

            //果實絕對位置
            .tree_fruit {
                width: 15%;
                position: absolute;

                &:nth-child(1) {
                    top: 30%;
                    left: 40%;
                }

                &:nth-child(2) {
                    top: 60%;
                    left: 20%;
                }

                &:nth-child(3) {
                    top: 80%;
                    left: 70%;
                }

                &:nth-child(4) {
                    top: 2%;
                    left: 58%;
                }

                &:nth-child(5) {
                    top: 35%;
                    left: 5%;
                }

                &:nth-child(6) {
                    top: 80%;
                    left: 8%;
                }

                &:nth-child(7) {
                    top: 55%;
                    left: 55%;
                }

                &:nth-child(8) {
                    top: 10%;
                    left: 15%;
                }

                &:nth-child(9) {
                    top: 30%;
                    left: 80%;
                }
            }
        }

    }

    #adopt_tree_btn {
        position: absolute;
        top: 85%;
    }
}

.adopt_tree_con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 3rem;

    .title {
        width: 100%;
        margin-bottom: 6rem;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .fruit_box {
            width: 40%;
            position: relative;
            left: -2rem;

            .fruit {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    display: none;
                    width: 100%;

                    &:first-child {
                        display: inline;
                    }
                }
            }

            &::before {
                content: "";
                width: 60%;
                height: 10%;
                position: absolute;
                transform: translateX(-50%);
                background-color: rgba(0, 0, 0, 0.05);
                ;
                border-radius: 50%;
                bottom: -5%;
                left: 50%;
                z-index: -1;
            }

            .circle {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #addada;
                position: absolute;
                top: -30%;
                right: -30%;
                z-index: -1;

                span {
                    display: none;
                    font-size: 1.5rem;
                    color: #fff;
                    position: absolute;
                    top: 15%;
                    left: 43%;

                    &:first-child {
                        display: block;
                    }
                }
            }
        }
    }
}



.farm_map {
    width: 100%;
    display: flex;
    justify-content: end;

    .write {
        width: 12.5%;
    }

    .farm_map_text {
        width: 87.5%;
        position: relative;
        margin-bottom: 4rem;

        img {
            width: 100%;
        }

        .title {
            width: 85.7142857143%;

            h3 {
                margin-bottom: 2rem;
            }
        }
    }
}

.activity {
    overflow: hidden;
}

.activity_title {
    @include container(0, 0);
    margin-left: 12%;

    .title {
        width: 100%;
    }
}

.activity_con {
    width: 600%;
    display: flex;
    position: relative;

    .con_box {
        width: 250px;
        height: 160px;
        overflow: hidden;
        position: relative;
        margin: 1rem 30px 1rem 0;
        line-height: 1;

        &:first-child {
            margin-left: 2.05%;
        }

        img {
            width: 100%;
            vertical-align: top;
            transition: all .5s linear;
        }

        .text {
            @include positioncenter();
            width: 70%;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 1rem;
            box-sizing: border-box;

            h3 {
                font-weight: 600;
            }

            a {
                font-size: $p_size;
                font-weight: 700;
                letter-spacing: $p_letter;
                color: $btn_m_color;
                text-decoration: none;


                &:hover {
                    color: $focus_color;
                }
            }

            span {
                display: block;
                text-align: end;
                margin-top: 1rem;

            }

            #more {
                text-align: center;
                padding: 42px;
                color: $btn_m_color;

                a {
                    font-size: $h3_size;
                    padding: 10px;
                }
            }
        }
    }
}


@include d {
    .title_con {
        display: none;
    }

    .slideshow {
        .left_con {
            left: 0;

            .left_con_box {
                width: 100%;

                .title {
                    display: block;
                    width: 50%;
                    position: absolute;
                    left: 22.72%;
                    top: 50%;
                    background-color: rgba(255, 255, 255, 0.555);
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 15px;
                }
            }

        }

        .right_con {
            left: 55%;

            .right_con_box {
                width: 100%;
            }
        }
    }

    .adopt_tree {
        flex-wrap: nowrap;
    }

    .left_icon {
        width: 3%;
    }

    .right_icon {
        width: 3%;
    }

    .adopt_tree_text {
        flex-wrap: nowrap;
    }

    .adopt_tree_img {
        width: 50%;
        order: 0;

        #adopt_tree_btn {
            top: 72%;
        }
    }

    .adopt_tree_con {
        width: 50%;
        margin-bottom: 0;

        .title {
            margin-bottom: 0;
        }
    }

    .box {
        .fruit_box {
            left: -5%;
        }
    }



    .farm_map {
        .farm_map_text {
            .title {
                width: 43.75%;
                position: absolute;
                top: 0;
            }
        }
    }

    .activity_title {
        .title {
            width: 50%;
        }
    }

    .activity_con {
        .con_box {
            width: 320px;
            height: 200px;
        }
    }
}

@media all and (min-width:1536px){
    .farm_map {
        .farm_map_text {
            .title {
                transform: translateY(-50%);
                top: 50%;
            }
            img{
                width: 80%;
                margin-left: 20%;
            }
        }
    }
  }