// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';


// .banner{
//   width: 100%;
//   height: 200px;
//   img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

body{
  font-family: Arial, Helvetica, sans-serif;
}
.banner{
  background-image: url(/images/common/banner_farmer.jpg);
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 100%;
}

.member{
  position: relative;
  @include flexcenter;
  flex-direction: column;
  .pic{
    @include flexcenter;
    flex-direction: column;
    #mem_img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      // background-color: rgb(159, 159, 212);
      position: absolute;
      // top: 85px;
      object-fit: cover;
    }
    .camera{
      cursor: pointer;
      border: 1px solid;
      position: relative;
      img{
        width: 25px;
        position: absolute;
        top: 32px;
        left: 43px;
      }
    }
  }
  .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px 0;
      label{
        @include label; 
        padding-top: 17px;
      }
      input{
        @include text;
      }
  }
  .btn{
    >*{
      margin: 0 10px;
      font-family: inherit;
    }
    #edit{
      @include smallbtn_s;
    }
    #save{
      @include smallbtn_m;
    }
  }
}


#app {
  overflow: hidden;
  height: 600px;
  display: block;
  margin: 30px 0;
    .top{
      @include flexcenter;
        >*{
          background-color: #EDECEC;
          width: 200px;
          margin: 0 5px;
          cursor: pointer;
          h2{
            font-size: 18px;
            text-align: center;
          }
        }
    }
}
.channel{
  width: 90%;
  margin: 15px auto;
  .item{
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    background-color: #F7EDE2;
    @include flexcenter;
    justify-content: space-between;
    cursor: pointer;
      img{
        width: 20px;
        padding: 2px 10px;
      }
      #minus{
        display: none;
      }
      >*{
        padding: 0 10px;
        @include flexcenter;
      }
      
  }
}

.test{
  display: none;
}
@include t{
  .btn{
    @include container;
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
  }
}

@include m{

}