// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/foooter';


// .header .header_con #nav li {
//   font-size: 19.2px;
// }
article{
  @include container();
  font-family: Arial, Helvetica, sans-serif;
  p{
    font-size: 16px;
  }
}  

  ul.breadcrumb{
    padding: 10px 0;
    list-style: none;
    @include container(10rem);
  }
  ul.breadcrumb li{
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
  }


.banner{
  background-image: url(/images/common/banner_farmer.jpg);
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 100%;
  margin: 10rem auto 0;
}

.member{
  position: relative;
  @include flexcenter;
  flex-direction: column;
  .pic{
    @include flexcenter;
    flex-direction: column;
    #mem_img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
    }
    .camera{
      cursor: pointer;
      border: 1px solid;
      position: relative;
      img{
        width: 25px;
        position: absolute;
        top: 32px;
        left: 43px;
      }
    }
  }
  .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px 0;
      label{
        @include label; 
        padding-top: 17px;
      }
      input{
        @include text;
      }
  }
  .btn{
    >*{
      margin: 0 10px;
      font-family: inherit;
    }
    #edit{
      @include smallbtn_s;
    }
    #save{
      @include smallbtn_m;
    }
  }
}

// #app{
.order-select {
  overflow: hidden;
  // height: 100px;
  display: block;
  margin: 30px 0;
    .tabs{
      @include flexcenter;
        >*{
          background-color: #EDECEC;
          // margin-right: 7px;
          cursor: pointer;
          box-sizing: border-box;
          padding: 8px;
            h2{
              font-size: 18px;
              text-align: center;
            }
        }
        .select_1, .select_2{
          margin-right: 7px;
        }
    }
}



.order{
  width: 96%;
  margin: 15px auto;
  .item{
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    background-color: #F7EDE2;
    @include flexcenter;
    justify-content: space-between;
    cursor: pointer;
      img{
        width: 20px;
        padding: 2px 10px;
      }
      #minus{
        display: none;
      }
      >*{
        padding: 0 10px;
        @include flexcenter;
      }
  }
}

.order-select{
  padding-top: 50px;
  .tabs{
    margin-bottom: 20px;
    .tabs a{
      width: 33.33%;
      padding: 15px 0;
      box-sizing: border-box;
      transition: all .3s;
    }
    .tabs a.active{
      background: #09C;
    }
  }
  .order{
    background-color: lightblue;
    &>li{
      display: none;
    }
    .test{
      display: none;
    }
  }
}

@include t{
  .btn{
    @include container;
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
  }
}
