// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';


// .banner{
//   width: 100%;
//   height: 200px;
//   img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
.banner{
  background-image: url(/images/common/banner_farmer.jpg);
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 100%;
}

.main{
  @include flexcenter;
    flex-direction: column;
  .pic{
    @include flexcenter;
    flex-direction: column;
    #mem_img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      // background-color: rgb(159, 159, 212);
      position: absolute;
      top: 85px;
      object-fit: cover;
    }
    .camera{
      cursor: pointer;
      border: 1px solid;
      position: relative;
      img{
        width: 25px;
        position: absolute;
        top: 32px;
        left: 43px;
      }
    }
  }
  .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px 0;
      label{
        @include label; 
        padding-top: 17px;
      }
      input{
        @include text;
      }
  }
  .btn{
    #edit{
      @include smallbtn_s;
    }
    #save{
      @include smallbtn_m;
    }
  }
}
