// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';


body{
  background-color: #F7F6F2;
  // background-image: url(/images/svg/background.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 100%;
}
.header .header_con #nav li {
  font-size: 19.2px;
}
.all{
  @include container();
  font-family: Arial, Helvetica, sans-serif;
  p{
    font-size: 16px;
  }
}  

  ul.breadcrumb{
    padding: 10px 0;
    list-style: none;
    @include container(10rem);
  }
  ul.breadcrumb li{
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
  }


.banner{
  background-image: url(/images/common/banner_farmer.jpg);
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 100%;
  // margin: 10rem auto 0;
}

.member{
  position: relative;
  @include flexcenter;
  flex-direction: column;
  .pic{
    @include flexcenter;
    flex-direction: column;
    #mem_img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
    }
    .camera{
      cursor: pointer;
      border: 1px solid;
      position: relative;
      img{
        width: 25px;
        position: absolute;
        top: 32px;
        left: 43px;
      }
    }
  }
  
  .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px 0 35px;
      label{
        @include label; 
        padding-top: 17px;
      }
      input{
        @include text;
      }
  }
  .btn{
    >*{
      margin: 0 10px;
      font-family: inherit;
    }
    #edit{
      @include smallbtn_s;
    }
    #save{
      @include smallbtn_m;
    }
  }
}

.order-select {
  height: 500px;
  overflow: hidden;
  display: block;
  margin: 30px 0;
    .tabs{
      @include flexcenter;
      margin-bottom: 20px;
        >*{
          background-color: #EDECEC;
          // margin-right: 7px;
          cursor: pointer;
          padding: 15px 0;
          box-sizing: border-box;
          transition: all .3s;
            p{
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              color: #818181;
            }
        }
        .active{
          background: #fff;
          p{
            color: #17C3B2;
          }
        }
        .select_1, .select_2{
          margin-right: 7px;
        }
    }
    .orders{
      width: 96%;
      margin: auto;
        >li{
          display: none;
            .item{
              font-size: 16px;
              font-weight: bold;
              height: 50px;
              margin-bottom: 10px;
              background-color: #F7EDE2;
              @include flexcenter;
              justify-content: space-between;
              cursor: pointer;
                img{
                  width: 20px;
                  padding: 2px 10px;
                }
                #minus{
                  display: none;
                }
                >*{
                  padding: 0 10px;
                  @include flexcenter;
                }
            }
            .detail{
              display: none;
              box-sizing: border-box;
              padding: 20px;
              background-color: #E8EAE6;
              margin-bottom: 10px;
            }
        }
      
    }
}

@include t{
  .btn{
    @include container;
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
  }
}
