// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/modal_password';

// body{
//   background-image: url("../images/svg/background.svg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }
.blocker{
  z-index: 999;
}
.header .header_con #nav li {
  font-size: 19.2px;
}
article{
  @include container();
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2929;
  p{
    font-size: 16px;
  }
}  

ul.breadcrumb{
  @include container();
  list-style: none;
  padding: 21px 0;
  li{
    display: inline;
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
}
ul.breadcrumb li+li:before {
  padding: 1rem;
  content: "/\00a0";
  color: #FFF;
}


.breadcrumb a:hover{
color: #f6bd60;
}

.breadcrumb :last-child{
  a{
    color: #f6bd60;
    // color: #f4f660;
  }
}


.banner{
  background-image: url("../images/common/banner_farmer.jpg");
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: 31%;
  background-position: 100%;
  margin: -2rem auto 0;
}
.pic:hover{
  filter: brightness(.95);
}

#camera:active{
  transform: translateY(1px);
}
.member{
  position: relative;
  @include flexcenter;
  flex-direction: column;
  .pic{
    @include flexcenter;
    flex-direction: column;
    .show_space{
      width: 110px;
      height: 110px; 
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
      border: 2px solid #fff;
    }
    .camera{
      cursor: pointer;
      border: 1px solid;
      position: relative;
      #camera{
        width: 20px;
        position: absolute;
        top: 2.5rem;
        left: 4rem;
      }
      &::before {
        content: "";
        width: 28px;
        height: 28px;
        background-color: #dcdee0;
        position: absolute;
        left: 3.7rem;
        top: 2.2rem;
        border-radius: 50%;
      }
    }
  }
  .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 0 30px;
      label{
        @include label; 
        padding-top: 17px;
      }
      input{
        @include text;
      }
  }
  .btn{
    >*{
      margin: 0 10px;
      font-family: inherit;
    }
    #edit{
      @include smallbtn_s;
    }
    #save{
      @include smallbtn_m;
    }
  }
}

// #app{
.order-select {
  overflow: hidden;
  padding-top: 50px;
  display: block;
  margin: 30px 0;
  @include container();
    .tabs{
      @include flexcenter;
        >*{
          width: 33.3%;
          height: 50px;
          background-color: #EDECEC;
          cursor: pointer;
          box-sizing: border-box;
          padding: 8px;
          // margin: 0 10px;
          // height: 80px;
          @include flexcenter;
            p{
              // font-size: 18px;
              font-weight: bold;
              color: #5f5f5f;
              text-align: center;
            }
            &:nth-child(2){
              margin: 0 20px;
            }  
        }
        >*:active{
          transform: translateY(4px);
        }
        a.active{
          background: #FFF;
            p{
              color: #17C3B2;
            }
        }
        img{
          width: 22px;
          padding-right: 10px;
          padding-bottom: 4px;
        }
        .select_3{
          img{
            padding-bottom: 0;
          }
        } 
    }
}

.orders{
  width: 100%;
  margin: 15px auto;
  >li{
    display: none;
    .item{
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      margin-bottom: 10px;
      background-color: #F7EDE2;
      @include flexcenter;
      justify-content: space-between;
      cursor: pointer;
        img{
          width: 18px;
          padding: 0 10px;
        }
        #minus{
          display: none;
        }
        >*{
          padding: 0 10px;
          @include flexcenter;
        }
    }
    .detail{
      display: none;
      background-color: #E8EAE6;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 10px;
    }
  } 
}
.orders li:nth-child(2) .detail{
  overflow: scroll;
}

table{
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  th{background-color: #84A59D;padding: 15px;color:#fff;font-size: 16px;}
  th:nth-child(1){border-top-left-radius:10px;}
  th:last-child{border-top-right-radius:10px;}
  tr:nth-child(odd){background-color:#fff;}
  tr:nth-child(even){background-color:#E9E9E9;}
  td{padding: 8px; font-size:14px;}
}     
.con_imgbox{
  width: 100%;
  margin: 1rem 0;
  .img{
    display: flex;
    img{
      width: 50%;
    }
    a{
      width: 50%;
      .smallbtn_s{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include t{
  .order-select {
    margin: 30px auto;
      .tabs{
        >*{
          height: auto;
        }
      }
  }
  .orders li:nth-child(2) .detail{
    overflow: auto;
  }
}

@include d{
  .orders li:nth-child(2) .detail{
    overflow: auto;
  }
  .member{
    .pic{
      .camera{
        #camera{
          top: 2rem;
          left: 3.1rem;
        }
        &::before{
          left: 2.8rem;
          top: 1.8rem;
        }
      }
    }
  }
}

