// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';



// mixin
@import 'mixin/mixin';
@import 'layout/header';
body{
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    @include label;
    display: block;
    margin-top: 10px;
}
input{
    @include text(350px);
    border-radius: 10px;

}
.wrap{
    @include container(10rem);
    display: flex;
    flex-direction: column;
    .box{
        display: flex;
        @include margincenter($var:1.5rem)
    }
    .box:nth-child(1){
        .logo{
            width:13rem ;
            height:10rem ;
           background-image: url('../images/common/mem_login_img.svg');
           background-repeat: no-repeat;
        }
    }
    .box:nth-child(2){
        width: 100%;
        justify-content: space-around;
        align-items: center;
        button{
            border: none;
            background: none;
            cursor: pointer;
        }
        .item:nth-child(1){
        width: 46%;
        text-align: right;
        }
        .item:nth-child(2){
            width: 8%;
            text-align: center;
        }
        .item:nth-child(3){
            width: 46%;
        }
    }
    .box:nth-child(3)
    {
        .login,.register{
            .text{
                @include margincenter($var:1rem);
              
            }
            .text:last-child{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                .btn:nth-child(1){@include smallbtn_s;}
                .btn:nth-child(2){@include smallbtn_m;}
            }
        }
        .login{
            display: block;
        }
        .register{
            display: none;
            .text:nth-child(5){

                display: flex;
            input[type=radio]{
                width: 1rem;
                vertical-align: middle;
            }
            span{
               font-size: $h4_size;
               vertical-align:text-top;
               
            }
        }
    }
}
}




