// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/mixin';
@import 'layout/header';
label{
    @include label;
    display: block;
    margin-top: 10px;
}
input{
    @include text(350px);
    border-radius: 10px;

}
/*modal視窗框*/
/*modal視窗框*/
.dialog{
    height: auto;
    background-color: #F7F6F2;
    padding: 1.25rem 1.8rem 1rem;
    .text{
        width: 100%;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    button{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-weight: bolder;
        margin: 6px 20px;
        background-color: #BB9590;
        text-align: center;
        
    }
    p{
        text-align: justify;
    }

}

//-------內容
// box1->Logo
// box2->登入|註冊文字 ->item(1)登入、item(2)|、item(3)註冊)    
// box3->form表單含.login登入 .register註冊
.wrap{
    @include container();
    display: flex;
    flex-direction: column;
    .box{
        display: flex;
        @include margincenter($var:1rem);
        @include margincenter($var:1rem);
    }

    .box:nth-child(1){
        .logo{
            width:13rem ;
            height:10rem ;
           background-image: url('../images/common/mem_login_img.svg');
           background-repeat: no-repeat;
        }
    }
    .box:nth-child(2){
        width: 100%;
        justify-content: space-around;
        align-items: center;
        button{
            border: none;
            background: none;
            cursor: pointer;
            h3{
                font-weight: 600;
            }
        }
        .item:nth-child(1){
        width: 46%;
        text-align: right;
        }
        .item:nth-child(2){
            width: 8%;
            text-align: center;
        }
        .item:nth-child(3){
            width: 46%;
        }
    }
    .box:nth-child(3)
    {
        .login,.register{
            .text{
                @include margincenter($var:1rem);
                 
            }
            .text:last-child{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                .btn:nth-child(1){@include smallbtn_s;}
                .btn:nth-child(2){@include smallbtn_m;}
            }
            .btngrenn{@include smallbtn_m;}
        }
        .register{
            .text:nth-child(5){ //input checkbox
                max-width: 350px;
                width: 100%;
                display: flex;
                align-items: center;
                input{
                    width: 10%;
                    padding: 0 ;
                }
                label{
                    width: 90%;
                    font-size: 12px;
                    margin-top: 0px;
     
                }

            }
        }

    }
}
@include d{}


