// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';


.order{
  width: 390px;
  height: 340px;
  // font-weight: bold;
  background-color: #F7F6F2;
    h3{
      width: 100%;    
      height: 55px;
      background-color: #84A59D;
      color: #fff;
      border-radius: 8px;
      @include flexcenter;
    }
    table{
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      @include flexcenter;
      text-align: left;
      margin: 17px 0;
      color: #3d3b3b;
      td{
        padding: 5px 15px;
          select{
            width: 50px;
            height: 25px;
          }
      }
    }
    .btn{
      text-align: center;
      button{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-weight: bolder;
        margin: 6px 20px;
      }
      button:hover{
        opacity: .8;
      }
      #cancel{
        background-color: #BB9590;
      }
      #send{
        background-color:#84A59D;
      }
    }
}

