// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

//彈跳視窗
@import 'layout/modal_login';

// layout
@import 'layout/header';
@import 'layout/footer';

*{
    box-sizing: border-box;
    text-decoration: none;
}
.page{
    @include margincenter(7rem);
    margin-bottom: 5rem;
}
.post-nav{
    .container{
        @include container(0,0);
        .breadcrumb{
            display: flex;
            padding-bottom: 35px;
            li{
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
}
.post{
    .container{
        @include container(0,0);
        margin-bottom: 3.75rem;
        padding: 1.25rem 2.5rem;
        background-color: $header_color;
        border-radius: 2rem;
        .memname{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            .pic{
                width: 6.56rem;
                img{
                    width: 100%;
                    padding-right: 1.25rem;
                }
            }
            h3{
                color: #b5b5b5;
            }
            h2{
                color: #b5b5b5;
                font-size: 2.2rem;
            }
        }
        .youpost{
            h3{
                color: #b5b5b5;
                padding-bottom: 0.5rem;
            }
            .txt{
                position: relative;
                textarea{
                    width: 100%;
                    height: 24rem;
                    padding: 1.25rem;
                    border-radius: 0.5rem;
                    resize: none;
                }
                .fileupload{
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    bottom: 1.25rem;
                    position: absolute;
                    left: 11%;
                    .fileimg{
                        width: 18.5rem;
                        height: 9.25rem;
                        margin-bottom: 1.25rem;
                        // border: 1px solid red;
                        img{
                            width: 100%;
                            height: 9.25rem;
                            object-fit: cover;
                        }
                    }
                    .btn{
                        @include flexcenter();
                        justify-content: space-between;
                        img{
                            height: 2.25rem; 
                        }
                        .tag{
                            @include select();
                            font-size: $p_size;
                            color: $btn_m_color;
                            border: 2px solid $btn_m_color;
                            appearance: none;
                        }
                        .active{
                            @include smallbtn_m;
                            font-weight: $h3_weight;
                            font-family: inherit;
                        }
                    }
                }
            }
            
        }
    }
}

.filter{
    .container{
        @include container(0,0);
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3rem;
        .search_item{
            @include text();
            background-color: $header_color;
        }
        .item{
            position: relative;
            img{
                width: 1.2rem;
                position: absolute;
                top: 30%;
                right: 10%;
                opacity: 0.5;
            }
        }
        .selectfont{
            @include select();
            font-size: $p_size;
            margin-left: 3rem;
        }
    }
}
.mempost{
    .container{
        @include container(0,0);
        @include flexcenter();
        flex-direction: column;
        justify-content: space-between;
        .card{
            width: 85%;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $header_color;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
            margin-bottom: 3rem;
            transition: all 0.8s;
            &:hover{
                transform: scale(1.1);
                transition: all 0.5s;
            }
            .txt{
                padding: 2rem 1.25rem 0;
                .memname{
                    display: flex;
                    align-items: center;
                    padding-bottom: 1.25rem;
                    .pic{
                        width: 6.5rem;
                        img{
                            width: 100%;
                            padding-right: 1rem;
                        }
                    }
                }
                p{
                    padding-bottom: 2rem;
                    text-align: justify;
                }
            }
            .pic{
                .tag{
                    font-size: $p_size;
                    color: $p_color;
                    padding: 0 1.25rem 1rem;
                    a{
                        color: $p_color;
                    }
                }
                .photo{
                    width: 100%;
                    height: 9rem;
                    overflow: hidden;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .icon{
                    float: right;
                    margin-top: 1.25rem;
                    padding: 0 1.25rem 2rem;
                    
                    .btn_heart{
                        background: url("../images/post/heart_gray.svg") no-repeat;
                        border: 0;
                        height: 1.2rem ;
                        width: 1.2rem;
                        cursor: pointer;
                    }
                    .btn_loudly{
                        background: url("../images/post/loudly_gray.svg") no-repeat;
                        border: 0;
                        height: 1.2rem ;
                        width: 1.2rem;
                        cursor: pointer;
                    }
                    span{
                        color: #939393;
                        font-size: $h3_size;
                        padding-left: 0.3rem;
                        padding-right: 1rem;
                        font-weight: $h2_weight;
                        vertical-align: top;
                    }
                }
            }
            
        }
        
    }
}
.more{
    .container{
        @include container(0,0);
        p{
            text-align: center;
        }
    }
}
.sdpost{
    background-color: #F7F6F2;
    text-align: center;
        h3{
            margin: 14px auto;    
        }
        button{
            width: 100px;
            height: 35px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            color: #fff;
            font-weight: bolder;
            margin: 6px 20px;
        }
        button:hover{
            opacity: .8;
        }
        .clear{
            background-color: #BB9590;
        }
        .login{
            background-color:#84A59D;
        }
    //修改彈窗背景z-index
    .blocker{ 
        z-index: 200;
    }
}
.sdloudly{
    background-color: #F7F6F2;
    text-align: center;
    h3{
        margin: 14px auto;    
    }
    input{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-weight: bolder;
        margin: 6px 20px;
        background-color:#84A59D;
    }
}
@include t{
    .post{
        .container{
            .memname{
                align-items: end;
                h2{
                    font-size: $h2_size;
                }
            }
            .youpost{
                .txt{
                    textarea{
                        height: 16.5rem;
                    }
                    .fileupload{
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;
                        width: 100%;
                        left: 0;
                        .fileimg{
                            margin-left: 1.25rem;
                            margin-bottom: 0;
                        }
                        .btn{
                            align-items: center;
                            width: 50%;
                            margin-right: 1.25rem;
                        }
                    }
                }
            }
        }
    }
    .mempost{
        .container{
            flex-wrap: wrap;
            flex-direction: row;
            align-items: initial;
            .card{
                width: 48%;
            }
            .card:last-child:nth-child(2n - 1) {
                margin-right: calc(48% + 4% / 1);
            }
        }
    }
}
@include d{
    .post{
        .container{
            .youpost{
                .txt{
                    .fileupload{
                        .btn{
                            width: 32%;
                        }
                    }
                }
            }
        }
    }
    .mempost{
        .container{
            .card{
                width: 31.25%;
            }
            .card:last-child:nth-child(3n - 1) {
                margin-right: calc(31.25% + 6.25% / 2);
            }
            .card:last-child:nth-child(3n - 2) {
                margin-right: calc(62.5% + 12.5% / 2);
            }
        }
    }
}
