// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

//彈跳視窗
@import 'layout/modal_login';

// layout
@import 'layout/header';
@import 'layout/footer';

*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url('../images/svg/background.svg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page{
    @include margincenter(7rem);
}
.post-nav{
    .container{
        @include container();
        .breadcrumb{
            display: flex;
            // padding: 0 0.5rem 1rem;
            padding-bottom: 35px;
            li{
                padding-right: 1rem;
                &:last-child a{
                    color: $main_color;
                }
            }
            li+li{
                padding-left: 0;
                &::before{
                    content: '/';
                    margin-right: 1rem;
                }
            }
            a{
                color: $p_color;
                font-weight: $h3_weight;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }
}
.post{
    .container{
        @include container();
        margin-bottom: 3.75rem;
        padding: 1.25rem 2.5rem;
        background-color: $header_color;
        border-radius: 2rem;
        .memname{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            img{
                padding-right: 1.25rem;
            }
            h3{
                color: #b5b5b5;
                padding-left: 0.25rem;
            }
            h2{
                color: #b5b5b5;
                font-size: 2.2rem;
            }
        }
        .youpost{
            h3{
                color: #b5b5b5;
                padding-bottom: 0.5rem;
            }
            .txt{
                position: relative;
                textarea{
                    width: 100%;
                    height: 11.5rem;
                    padding: 1.25rem;
                    border-radius: 0.5rem;
                    resize: none;
                }
                .btn{
                    @include flexcenter();
                    justify-content: space-between;
                    width: 65%;
                    right: 1.25rem;
                    bottom: 1.25rem;
                    position: absolute;
                    img{
                        height: 2.25rem; 
                    }
                    .tag{
                        @include smallbtn_s;
                        font-weight: $h3_weight;
                        font-family: inherit;
                    }
                    .active{
                        @include smallbtn_m;
                        font-weight: $h3_weight;
                        font-family: inherit;
                    }
                }
            }
        }
    }
}
.filter{
    .container{
        @include container();
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3rem;
        .search_item{
            @include text();
            background-color: $header_color;
        }
        .item{
            position: relative;
            img{
                width: 1.2rem;
                position: absolute;
                top: 30%;
                right: 10%;
            }
        }
        .selectfont{
            @include select();
            font-size: $p_size;
            margin-left: 3rem;
        }
    }
}
.mempost{
    .container{
        @include container();
        @include flexcenter();
        flex-direction: column;
        justify-content: space-between;
        .card{
            width: 85%;
            border-radius: 0.5rem;
            background-color: $header_color;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
            margin-bottom: 3rem;
            transition: all 0.8s;
            &:hover{
                transform: scale(1.1);
                transition: all 0.5s;
            }
            .txt{
                padding: 2rem 1.25rem 0;
                .memname{
                    display: flex;
                    align-items: center;
                    padding-bottom: 1.25rem;
                    img{
                        padding-right: 1rem;
                    }
                }
                p{
                    padding-bottom: 2rem;
                    text-align: justify;
                }
                .tag{
                    font-size: $p_size;
                    color: $p_color;
                    padding-bottom: 1rem;
                    a{
                        color: $p_color;
                    }
                }
            }
            .photo{
                img{
                    display: block;
                    width: 100%;
                }
            }
            .icon{
                float: right;
                margin-top: 1.25rem;
                padding: 0 1.25rem 2rem;
                
                .btn_heart{
                    background: url("../images/post/heart_gray.svg") no-repeat;
                    border: 0;
                    height: 1.5rem ;
                    width: 1.5rem;
                    cursor: pointer;
                }
                .btn_loudly{
                    background: url("../images/post/loudly_gray.svg") no-repeat;
                    border: 0;
                    height: 1.5rem ;
                    width: 1.5rem;
                    cursor: pointer;
                }
                span{
                    color: #939393;
                    font-size: $h3_size;
                    padding-left: 0.3rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}
.more{
    .container{
        @include container();
        text-align: center;
    }
}
@include t{
    .post{
        .container{
            .memname{
                align-items: end;
                h2{
                    font-size: $h2_size;
                }
            }
            .youpost{
                .txt{
                    .btn{
                        width: 45%; 
                    }
                }
            }
        }
    }
    .mempost{
        .container{
            flex-wrap: wrap;
            flex-direction: row;
            .card{
                width: 48%;
            }
        }
    }
}
@include d{
    .post{
        .container{
            .youpost{
                .txt{
                    .btn{
                        width: 29%;
                    }
                }
            }
        }
    }
    .mempost{
        .container{
            .card{
                width: 31.25%;
            }
        }
    }
}
