// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

//mixin
@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/foooter';

@include d{
    *{
        box-sizing: border-box;
        text-decoration: none;
    }
    body{
        background-image: url('../images/svg/background.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page{
        @include margincenter();
    }
    .menu{
        width: 100%;
        height: 70px;
        background-color: $header_color;
        padding: 10px 0;
        margin-bottom: 35px;
        .container{
            width: 1100px;
            min-width: 350px;
            width: 75%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                width: 136px;
            }
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    font-size: $p_size;
                    font-weight: $h3_weight;
                    color: $p_color;
                    letter-spacing: $p_letter;
                    display: block;
                    padding: 0 10px;
                    a{
                        color: #84A59D;
                    }
                }
            }
            ol{
                display: flex;
                li{
                    height: 30px;
                    margin-left: 5px;
                }
            }
        }
    }
    .post{
        .container{
            @include container();
            margin-bottom: 60px;
            background-color: $header_color;
            border-radius: 30px;
            .memname{
                display: flex;
                align-items: end;
                padding: 20px 40px 30px;
                img{
                    padding-right: 20px;
                }
                h3{
                    color: #b5b5b5;
                    padding-left: 4px;
                }
                h2{
                    color: #b5b5b5;
                }
            }
            .youpost{
                h3{
                    color: #b5b5b5;
                    padding: 0 0 10px 40px;
                }
                .txt{
                    position: relative;
                    textarea{
                        width: 780px;
                        height: 185px;
                        margin: 0 40px 20px;
                        padding: 20px 25px;
                        border-radius: 10px;
                        resize: none;
                    }
                    .btn{
                        width: 255px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        bottom: 40px;
                        right: 60px;
                        img{
                            height: 36px; 
                        }
                        .tag{
                            @include smallbtn_s;
                            font-weight: $h3_weight;
                        }
                        .active{
                            @include smallbtn_m;
                            font-weight: $h3_weight;
                        }
                    }
                }
            }
        }
    }
    .filter{
        .container{
            @include container();
            display: flex;
            justify-content: flex-start;
            margin-bottom: 60px;
            .search{
                @include text();
                background-color: $header_color;
                margin-right: 50px;
                img{
                    width: 22px;
                    float: right;
                }
            }
            .selectfont{
                @include select();
                font-size: $p_size;
            }
        }
    }
    .mempost{
        .container{
            @include container();
            @include flexcenter();
            flex-wrap: wrap;
            justify-content: space-between;
            .card{
                width: 275px;
                border-radius: 10px;
                background-color: $header_color;
                box-shadow: 0 2px 15px rgba(0, 0, 0, 16%);
                margin-bottom: 50px;
                .memname{
                    display: flex;
                    align-items: center;
                    padding: 30px 20px 20px;
                    img{
                        padding-right: 15px;
                    }
                }
                p{
                    padding: 0 20px 30px;
                    text-align: justify;
                }
                .tag{
                    padding: 0 20px 17px;
                }
                .photo{
                    img{
                        width: 275px;
                    }
                }
                .icon{
                    float: right;
                    padding: 20px;
                    img{
                        height: 18px;
                    }
                }
            }
        }
    }
    .footer_bg{
        width: 100%;
        background-color: $footer_color;
        margin-top: 70px;
        .container{
            @include container();
            p{
                font-size: $h4_size;
                color: #939393;
                text-align: center;
                padding: 20px;
            }
        }
    }
}
