// base 
@import 'base/var';
@import 'base/color';
@import 'base/font';
@import 'base/reset';

// mixin

@import 'mixin/mixin';

// layout 

@import './layout/header';
@import './layout/foooter';

//Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";  //BS原檔 (變數更動用)
@import "../../node_modules/bootstrap/scss/mixins";

// -------

.box{
  height: 200px;
  width: 200px;
  border: 1px solid red;
  p{
    font-size: $fontsize_big;
  }
}

@import 'base/variables'; //BS的變數 記得要放在最底下