// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/footer';

//跳窗
@import 'layout/modal_login';

// body {
//     background-color: $bg_color;
// }

//動畫
@keyframes waver {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#go_game {
    display: none;
}

article {
    @include container();

    ul.breadcrumb {
        list-style: none;

        li {
            display: inline;

            a {
                text-decoration: none;
                color: #727070;
            }
        }
    }

    ul.breadcrumb li+li:before {
        padding: 1rem;
        content: "/\00a0";
    }
}

.breadcrumb a:hover {
    color: #f6bd60;
}

.breadcrumb :last-child {
    a {
        color: #f6bd60;
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    position: relative;
}

#fruit_tree {
    margin-top: 35px;
}

.fruit_tree_box {
    width: 100%;
    align-self: flex-end;
    order: 1;
    position: relative;
    .canvas {
        width: 100%;
    }

     //果實絕對位置
        //範圍
        .tree_fruit_box {
            width: 70%;
            height: 55%;
            position: absolute;
            top: 5%;
            left: 17%;

            //果實絕對位置
            .tree_fruit {
                display: none;
                width: 12%;
                position: absolute;
                animation: waver 1s linear infinite;

                &:nth-child(1) {
                    top: 30%;
                    left: 40%;
                }

                &:nth-child(2) {
                    top: 60%;
                    left: 20%;
                }

                &:nth-child(3) {
                    top: 80%;
                    left: 70%;
                }

                &:nth-child(4) {
                    top: 2%;
                    left: 58%;
                }

                &:nth-child(5) {
                    top: 35%;
                    left: 5%;
                }

                &:nth-child(6) {
                    top: 80%;
                    left: 8%;
                }

                &:nth-child(7) {
                    top: 55%;
                    left: 55%;
                }

                &:nth-child(8) {
                    top: 10%;
                    left: 15%;
                }

                &:nth-child(9) {
                    top: 30%;
                    left: 80%;
                }
            }
        }
}

.update {
    opacity: .5;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .content_top {
        width: 100%;
        text-align: end;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        order: 1;

        .con_imgbox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .img {
                width: 48%;

                img {
                    width: 100%;
                }
            }
        }

        .smallbtn_s {
            @include smallbtn_s
        }
    }

    .content_bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;

        .con_text {
            width: 100%;
            margin-bottom: 0.5rem;

            .con_text_title {
                border-bottom: 2px solid $main_color;
                text-align: center;
            }

            .id {
                text-align: end;
                margin: 0.5rem 0;

                span {
                    font-size: $p_size;
                    color: $p_color;

                    &:nth-child(2)::before {
                        content: "|";
                        font-size: $p_size;
                        color: $p_color;
                    }
                }
            }

            .data {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                margin: 1rem 0;

                .data_text {
                    width: 50%;
                }
            }

            .price {
                text-align: end;
            }
        }

        .con_btnbox {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .bigbtn_s {
                @include bigbtn_s;
                width: 10rem;
            }

            .bigbtn_m {
                @include bigbtn_m;
            }
        }
    }
}

.map {
    width: 100%;
    position: relative;

    .map_img {
        width: 100%;
        box-sizing: border-box;
        padding: 10rem 2rem 5rem;

        img {
            width: 100%;
        }

        .map_tree {
            width: 13%;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            transition: all .3s linear;

            &:nth-child(1) {
                top: 42%;
                left: 20%;
            }

            &:nth-child(2) {
                top: 23%;
                left: 50%;
            }

            &:nth-child(3) {
                top: 40%;
                left: 75%;
            }

            &:nth-child(4) {
                top: 65%;
                left: 25%;
            }

            &:nth-child(5) {
                top: 48%;
                left: 48%;
            }

            &:nth-child(6) {
                top: 63%;
                left: 67%;
            }

            img {
                width: 100%;
            }

            .tree_name{
                width: 250%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: -30%;
                span{
                    background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 8px;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: #000;
                }

            }

        }
    }


    .map_text {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .black_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #bac7b58a;
        mix-blend-mode: multiply;
        z-index: 2;
        pointer-events: none;
    }

}

.more_tree {
    width: 100%;
    text-align: center;
    background-color: #d3d9cce0;
    padding-top: 2rem;
    h3{
        font-size: 1.5rem;
        font-weight: 600;
        color: $btn_m_color;
    }

    .more_btnbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0 2rem;

        .bigbtn_s {
            @include bigbtn_s;
            margin: 0 0.5rem 1rem;
        }

        //點選顯示目前位置
        .active {
            color: $btn_s_color;
            background-color: $btn_m_color;
        }
    }
}

//彈跳查看更多照片
#moreimg {
    background-color: #F7F6F2;

}

.moreimg {
    .con {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    h3 {
        width: 100%;
        height: 55px;
        background-color: #84A59D;
        color: #fff;
        border-radius: 8px;
        @include flexcenter;
    }

    .imgbox {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    table {
        text-align: center;
        margin: 17px 0;

        tr {
            th {
                padding: 5px 0;
            }

            td {
                text-align: center;
                vertical-align: middle;
                padding: 10px;

                &:first-child {
                    width: 30%;
                }

                p {
                    margin: 0 auto;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}





//彈跳訂單視窗
#popOrder {
    background-color: #F7F6F2;
}

.order {

    h3 {
        width: 100%;
        height: 55px;
        background-color: #84A59D;
        color: #fff;
        border-radius: 8px;
        @include flexcenter;
    }

    table {
        font-family: $fontFamily;
        font-size: $p_size;
        line-height: $p_line;
        letter-spacing: $p_letter;
        @include flexcenter;
        text-align: left;
        margin: 17px 0;
        color: #3d3b3b;

        tr {
            td {
                padding: 5px 15px;

                select {
                    @include select(20rem);
                    font-size: $p_size;
                    line-height: $p_line;
                    letter-spacing: $p_letter;
                }

                .item_text {
                    @include text(4rem);
                }
            }
        }
    }

    .btn {
        text-align: center;

        button {
            width: 100px;
            height: 35px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            color: #fff;
            font-weight: bolder;
            margin: 6px 20px;
        }

        button:hover {
            opacity: .8;
        }

        #cancel {
            background-color: #BB9590;
        }

        #send {
            background-color: #84A59D;
        }
    }
}



@include d {
    #go_game {
        display: block;
        width: 10%;
        position: fixed;
        top: 72%;
        left: 3%;
        z-index: 2;
        transition: all .5s;

        &:hover {
            transform: scale(1.2);
        }

        img {
            width: 100%;
        }
    }

    .fruit_tree_box {
        width: 55%;
        order: 0;
        .canvas {
            width: 100%;
       }      
    }

    .container {
        width: 43%;

        .content_top {
            margin-top: 0rem;
            order: 0;
        }

        .content_bottom {
            .con_btnbox {
                flex-wrap: wrap;
                margin-top: 0.5rem;
            }
        }
    }

    .map {

        .map_img {
            padding: 10rem 10rem 5rem;

            .map_tree{
                z-index: 0;
            }
        }

        .black_bg {
            .cursor {
                width: 150px;
                height: 150px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
            }
        }
    }

    .more_tree {
        .more_btnbox {
            .bigbtn_s {
                margin: 0 0.3rem 1rem;
            }
        }
    }
    .order {
    width: 390px;
    }
}