// base 
@import 'base/reset';
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin

@import 'mixin/mixin';

// layout
@import 'layout/header';
@import 'layout/foooter';

// body {
//     background-color: $bg_color;
// }

.back_img{
    width: 100%;
    position: fixed;
    top:0;
    z-index: -1;
}

article {
    @include container(10rem);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    position: relative;
}

canvas {
    width: 100%;
    align-self: flex-end;
    order: 1;
}

.update {
    opacity: .5;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .content_top {
        width: 100%;
        text-align: end;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        order: 1;

        .con_imgbox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .img {
                width: 48%;

                img {
                    width: 100%;
                }
            }
        }

        .smallbtn_s {
            @include smallbtn_s
        }
    }

    .content_bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;

        .con_text {
            width: 100%;
            margin-bottom: 0.5rem;

            .con_text_title {
                border-bottom: 2px solid $main_color;
                text-align: center;
            }

            .id {
                text-align: end;
                margin: 0.5rem 0;

                span {
                    font-size: $p_size;
                    color: $p_color;

                    &:nth-child(2)::before {
                        content: "|";
                        font-size: $p_size;
                        color: $p_color;
                    }
                }
            }

            .data {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                margin: 1rem 0;

                .data_text {
                    width: 50%;
                }
            }

            .price {
                text-align: end;
            }
        }

        .con_btnbox {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .bigbtn_s {
                @include bigbtn_s;
            }

            .bigbtn_m {
                @include bigbtn_m;
            }
        }
    }
}

.map {
    width: 100%;
    position: relative;

    .map_img {
        width: 100%;
        box-sizing: border-box;
        padding: 10rem 2rem 5rem;

        img {
            width: 100%;
        }
    }

    .map_text {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .black_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #bac7b58a;
        mix-blend-mode: multiply;
    }

}

.more_tree {
    width: 100%;
    text-align: center;
    background-color: #d3d9cce0;
    padding-top: 2rem;

    .more_btnbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0 2rem;

        .bigbtn_s {
            @include bigbtn_s;
            margin: 0 0.5rem 1rem;
        }
    }
}

@include d {
    canvas {
        width: 55%;
        order: 0;
    }

    .container {
        width: 43%;

        .content_top {
            margin-top: 0rem;
            order: 0;
        }

        .content_bottom {
            .con_btnbox {
                flex-wrap: wrap;
                justify-content: center;
                .bigbtn_s {
                    margin-top:0.5rem;
                }
                .bigbtn_m {
                    margin:0.5rem 0.6rem 0;
                }
            }
        }
    }

    .map {

        .map_img {
            padding: 10rem 10rem 5rem;
        }

        .black_bg {
            .cursor {
                width: 150px;
                height: 150px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
            }
        }
    }

    .more_tree {  
        .more_btnbox {
            .bigbtn_s {
                margin: 0 0.3rem 1rem;
            }
        }
    }

}