body {
  font-family: $ct_fontFamily;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: $h2_color;
  font-size: $h2_size;
  font-weight: $h2_weight;
  line-height: $h2_line;
  letter-spacing: $h2_letter;
}

h3 {
  color: $h3_color;
  font-size: $h3_size;
  font-weight: $h3_weight;
  line-height: $h3_line;
  letter-spacing: $h3_letter;
}

h4{
  color: $h4_color;
  font-size: $h4_size;
  line-height: $h4_line;
  letter-spacing: $h4_letter;
}

p{
  color: $p_color;
  font-size: $p_size;
  line-height: $p_line;
  letter-spacing: $p_letter;
}