//字體匯入
  @font-face {
    font-family: "Noto";
    src:url(../font/NotoSansCJKtc-Regular.otf);
    }


//螢幕介面設定
//d:電腦 t:平板 m:手機
$d_minWidth:1024px;
$t_maxWidth:1023px;
$t_minWidth:768px;
$m_maxWidth:767px;

//RWD-html字體大小
$d_htmlfontSize:16px;
$t_htmlfontSize:14px;
$m_htmlfontSize:12px;

//字體大小
$h2_size:2.5rem;
$h3_size:1.5rem;
$p_size:1rem;
$h4_size:12px;

//字粗體
$h2_weight:700;
$h3_weight:500;

//字型
$fontFamily:"Noto";

//字體顏色
$h2_color:#3d3b3b;
$h3_color:#3d3b3b;
$p_color:#727070;
$h4_color:#727070;

//行高
$h2_line:1.5;
$h3_line:1.5;
$p_line:1.5;
$h4_line:1.5;

//字距
$h2_letter:1px;
$h3_letter:1px;
$p_letter:1px;
$h4_letter:1px;


//顏色
//主色:
$main_color:#F6BD60;
//強調色
$focus_color:#17C3B2;
//按鈕主色
$btn_m_color:#84A59D;
//按鈕次色
$btn_s_color:#fff;
//次色(一):
$second_color:#BAC7B5;
//次色(二):
$third_color:#DFE5DC;
//底色
$bg_color:#F7F6F2;
//header色
$header_color:#fff;
//footer色
$footer_color:#fff;
//視窗外底色
$black_color:rgba(0, 0, 0, 0.2);



// 按鈕
//大按鈕
$bigbtn_w:11rem;  //132px/154px/176px
$bigbtn_p:1rem;  //12px/14px/16px
$bigbtn_bR:8px;
$bigbtn_b:2px solid $btn_m_color;
//小按鈕
$smallbtn_w:6rem;  //72px/84px/96px
$smallbtn_p:0.5rem;  //6px/7px/8px
$smallbtn_bR:8px;
$smallbtn_b:2px solid $btn_m_color;


//篩選鈕(包含排序鈕)
$select_p:0.5rem;  //6px/7px/8px
$select_bR:8px;


//填寫框
$text_p:0.75rem;  //6px/7px/8px
$text_size:1.5rem; //18px/21px/24px
$text_bR:8px;
$text_b:1px solid #ebe7e7;
//label
$label_line:1.2;


//跳窗標頭
$title_w:20rem;  // 240px/280px/320px
$title_p:1rem;  //12px/14px/16px
$title_color:#fff;
$title_bR:8px;
